.shop--box, .shop--box>div:first-of-type {
    position: relative;
}

.s1in1q3d {
  position: relative;
}
.cbdpsi8 {
  display: grid;
  overflow: hidden;
  overflow: clip;
  grid-template-columns: minmax(0,1fr);
}

.cbdpsi8 > :nth-child(n) {
  grid-area: 1 / 1 / -1 / -1;
  height: 100%;
}

.cw9aemg {
  height: 100%;
  min-width: 0;
  position: unset;
}

.ccma3s {
  background-color: unset;
  cursor: default;
}

.ccma3s {
  color: #272c30 !important;
  font-weight: 600 !important;
}

.c1l3w0tx {
  border: 1px solid black;
  background-color: white;
  outline: none;
  padding: 0;
  margin: 0;
  color: #717171;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  width: -webkit-max-content;
  width: max-content;
  position: relative;
  outline: none;
}

.c1l3w0tx {
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  background-color: unset;
  border: unset;
  padding: 4px 0 4px;
  margin: 12px 0 10px;
  transition: color 0.2s ease;
}
.c1l3w0tx::before {
  left: -4px;
  right: -4px;
  border-radius: 8px;
}
.c1l3w0tx::before {
  content: '';
  position: absolute;
  top: -4px;
  bottom: -4px;
}

.c14whb16 {
  contain: none;
  content-visibility: visible;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 16px;
  grid-template-rows: 74px;
  grid-template-areas: none;
  justify-content: flex-start;
  height: 74px;
  overflow: auto hidden;
  overscroll-behavior-inline: contain;
  padding-block-start: 0px;
  padding-block-end: 0px;
  scroll-padding-inline: 24px,32px;
  scrollbar-width: none;
  touch-action: manipulation;
  scrollbar-width: none;
}

.c14whb16::-webkit-scrollbar {
  display: none;
}


@supports (-webkit-scroll-behavior:smooth) or (-moz-scroll-behavior:smooth) or (-ms-scroll-behavior:smooth) or (scroll-behavior:smooth) {
  .c14whb16 {
    -moz-scroll-snap-type: none,inline mandatory;
    scroll-snap-type: none,inline mandatory;
  }
}


.c14whb16 {
  margin: 0;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.c8gkmzg {
  display: flex;
  flex-direction: row;
}

.c1w8ohg7 {
  min-width: revert;
}
.c1m2z0bj {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 64px;
  gap: 4px;
}

.ccma3s .i1wps9q8 {
  opacity: 1;
}
.i1wps9q8 {
  max-width: 100%;
  width: 32px;
  height: auto;
  margin-bottom: 2px;
}

.tamhn2w {
  white-space: nowrap;
  position: relative;
}

.t1h65ots {
  display: inline-block;
}

.ccma3s .c8gkmzg::after {
  background-color: #272c30;
  opacity: 1;
}

.c8gkmzg::after {
  inset-inline: 0;
  position: absolute;
  content: '';
  height: 2px;
  top: calc(100% + 10px);
  opacity: 0;
}



.product-popup {
  overflow-y: scroll; 
  height: 85%; 
  padding-bottom: 120px;
}

.product-popup-btn {
  background-color: white;
  bottom: 0px; 
  position: fixed; 
  z-index: 1000000001;
}

.product-popup-btn {
  background-color: white;
  bottom: 0px; 
  position: fixed; 
  z-index: 1000000001;
}

.product-popup-btn .groups {
  padding: 15px 20px 42px;
  background-color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-popup-btn .btn-addtoCart {
  color: rgb(24, 206, 160);
  text-align: center;
  width: calc(50vw - 25px);
  background: white;
  padding: 13px 20px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 15px;
  margin: 0px 20px 0px 0px;
  height: 50px;
  border: 2px solid rgb(24, 206, 160);
}

.product-popup-btn .btn-checkout {
  text-align: center;
  width: calc(100vw - 25px);
  padding: 14px 20px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 15px;
  margin: 0px;
  background: rgb(24, 206, 160);
  color: rgb(255, 255, 255) !important;
  height: 50px;
}

.scroll-indicator {
  height: 5px;
  width: 60px;
  background: rgba(0,0,0,0.2);
  border-radius: 4.5px;
  margin: 15px auto;
}

.hide-svg {
  width: 30px; 
  height: 30px; 
  fill: rgb(153, 153, 153); 
  padding: 5px; 
  background: white; 
  border-radius: 30px; 
  opacity: 0.5; 
  position: absolute; 
  top: 15px; 
  left: 15px; 
  z-index: 100000000;
}

.heart-svg {
  width: 30px;
  height: 30px;
  fill: white;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100000000;
}