.feed {
  background: black;
}

.slick-dots {
	bottom: 10px !important;
}

.slick-dots li, .slick-dots li button {
	width: 10px !important;
}

.slick-dots li button:before {
	opacity: 1 !important; 
	color: #fff !important;
}

.slick-dots li.slick-active button:before {
	color: #ff2a80 !important;
}

.slick-list {
  overflow-y: -webkit-paged-x;
}

.b-dashboard {
	display: none !important;
}

.b-status-bar {
	display: none !important;
}
.not-found__center {
	margin: 0 auto;
	text-align: center;
	color: #222
}

.icon svg {
	height: 100%;
	width: 1.5em;
}

.not-found__header {
	font-size: 3em;
	font-weight: 300;
	margin: 2rem 0
}

@media (max-width:500px) {
	.not-found__header {
		font-size: 10vw
	}
}

.not-found__content {
	max-width: 420px;
	text-align: center;
	line-height: 1.4;
	margin: 0 auto;
	padding: 0 1rem
}

.not-found__content a {
	color: #ea573c
}

.video-page {
	overflow: hidden;
	position: relative;
	display: flex;
	width: 100%;
	margin: 0 auto
}

@media (min-width:425px) {
	.video-page {
		max-width: 425px
	}
}

@media (max-width:425px) {
	.video-page {
		position: fixed;
		overflow-y: hidden;
		height: 100%;
		top: 0
	}
}

.video-page__product-box {
  padding: 5px;
  position: absolute;
  left: 20px;
  background-color: #fff;
  border-radius: 11px;
  transition: bottom .2s linear;
  z-index: 20;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 5px;
  width: calc(100vw - 40px);
  height: 120px;
}
.video-page__product-box.video-page__product-box--active {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  bottom: 0;
  padding: 0
}
.video-page__product-box.video-page__product-box--active .video-page__info {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
  width: 100%
}
.video-page__product-box.video-page__product-box--active .video-page__price-row {
  width: 75%;
  display: block
}
.video-page__product-box.video-page__product-box--active .video-page__name {
  white-space: normal;
  overflow: initial;
  text-overflow: clip
}
.video-page__product-box.video-page__product-box--active .mobile-gallery {
  padding-left: 2rem;
  padding-right: 2rem
}
.video-page__product-box.video-page__product-box--active .video-page__discount-pill-container {
  position: static
}
.video-page__product-box .inventory-option__label {
  font-size: .94rem
}
.video-page__product-box--inner-holder {
  position: relative;
  padding: 2rem 1.5rem 170px 2rem;
  overflow: auto;
  height: 100%
}
.video-page__image img {
  width: 110px;
  height: 110px;
  border-radius: 10px;
  object-fit: cover;
}

.video-page__product-top {
	display: flex;
	align-items: center;
	width: 100%
}

.video-page__info {
	padding-left: 1rem;
	width: 75%
}

.video-page__name {
  margin-top: 0;
  font-size: 1rem;
  text-overflow: ellipsis;
  font-weight: 500;
}

.video-page__vendor {
  margin-bottom: 0;
  margin-top: 0;
  color: rgba(38, 38, 38, .5);
  font-size: .5rem;
}

.video-page__price-row {
	display: flex;
	margin-top: 20px;
}

.video-page__msrp {
	font-size: .9rem;
	color: rgba(38, 38, 38, .5);
	text-decoration: line-through
}

.video-page__price {
  font-size: 16px;
  font-weight: 500;
  color: #333;
}
.video-page__btn {
	margin-left: auto;
	align-self: flex-end
}

.video-page__btn--active {
	position: absolute;
	z-index: 3;
	width: 100%;
	bottom: 15px;
	text-align: center;
	left: 0
}

.video-page__btn--active button {
	box-shadow: 0 13px 18px 0 rgba(0, 0, 0, .25)
}

.video-page__discount-pill-container {
	position: absolute;
	width: 100%;
	text-align: center;
	left: 0;
	bottom: 142px;
	z-index: 4
}

.video-page__discount-pill-container .video-page__discount-pill {
	display: inline-block;
	border-radius: 25px;
	color: #fff;
	font-size: .9rem;
	background-color: #3a3a3a;
	border: 3px solid #fff;
	padding: .2rem 1rem
}

.video-page__discount-pill-container .video-page__discount-pill.video-page__discount-pill--blue {
	background-color: #46b1cd
}

.video-page__discount-pill-container .video-page__discount-pill.video-page__discount-pill--red {
	background-color: #ea573c
}

.video-page__discount-pill-container .video-page__discount-pill.video-page__discount-pill--yellow {
	background-color: #ffac00
}

.video-page__close-btn {
	transform: rotate(-90deg);
	position: absolute;
	top: 15px;
	left: 10px;
	z-index: 4;
	display: none;
	border-radius: 50%;
	font-size: 1rem;
	padding: .45rem .5rem .5rem;
	width: 38px;
	height: 38px;
	transition: color, background-color .5s ease-in-out
}

.video-page__close-btn.video-page__close-btn--active {
	display: block
}

.video-page__close-btn.video-page__close-btn--dark {
	background-color: rgba(0, 0, 0, .5);
	color: #fff
}

.video-page__video-player--active {
	z-index: 3;
	position: absolute;
	bottom: 15px;
	right: 15px;
	height: 147px;
	width: 88px;
	border: 6px solid #fff;
	border-radius: .35rem;
	box-shadow: 0 0 20px -2px rgba(58, 58, 58, .4)
}

.video-page__video-player--active .video-player__video {
	height: 136px;
	width: 76px
}

.video-page__free-shipping {
	font-weight: 700;
	margin-top: 2rem;
	border-bottom: 1px solid rgba(58, 58, 58, .2);
	margin-bottom: 1rem;
	padding-bottom: 1rem
}

.video-page__free-shipping .icon--truck {
	padding-right: .5rem
}

.video-page__actions-btns {
	position: absolute;
	right: 15px;
	top: 15px;
	z-index: 20;
	border-radius: 25px;
	background-color: rgba(0, 0, 0, .5);
	padding: 1rem .22rem;
	text-align: center
}

.video-page__actions-btns button {
	text-align: center;
	color: #fff;
	height: auto;
	line-height: 1.15;
	padding: 0 .5em;
	margin-top: 1rem
}

.video-page__actions-btns button span {
	font-weight: 400;
	display: block
}

.video-page__actions-btns button:first-child {
	margin-top: 0
}


.video-page__actions-btns .video-page__like-btn.video-page__actions-btn--liked path {
	fill: #ea573c;
	stroke: #ea573c
}

.video-page__actions-btns.video-page__actions-btns--active {
	background-color: transparent;
	z-index: 3
}

.video-page__actions-btns.video-page__actions-btns--active button {
	color: #262626
}

.video-page__actions-btns.video-page__actions-btns--active .video-page__like-btn path {
	stroke: #262626
}

.video-page__actions-btns.video-page__actions-btns--active .video-page__like-btn.video-page__actions-btn--liked path {
	fill: #ea573c;
	stroke: #ea573c
}

.video-page__actions-btns.video-page__actions-btns--active .video-page__share-btn path {
	fill: #262626
}

.video-page__influencer-badge {
	display: flex;
	margin: 0px 0px 6px 0px;
	align-items: center;
  padding: 4px 10px 5px 10px; 
  border-radius: 11px; 
  background-color: rgba(0, 0, 0, 0.25);
  letter-spacing: 0.05px; 
}

.video-page__influencer-badge .video-page__influencer-username {
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	line-height: 18px;
}

.video-page__influencer-badge .video-page__influencer-title {
  font-size: 13px; 
  font-weight: 600; 
  text-shadow: rgb(0 0 0 / 80%) 0px 0px 3px;
  text-transform: capitalize;
}


.video-page__influencer-badge .video-page__influencer-content {
  font-weight: 400; 
  font-size: 14px; 
  text-shadow: rgb(0 0 0 / 80%) 0px 0px 3px;
}

.scrollToMe .video-page__influencer-img {
  border-radius: 50%;
  width: 32px;
  height: 32px; 
  object-fit: cover; 
  margin-top: 2px;
}

.video-page__influencer-badge .video-page__influencer-video-count {
	position: relative;
	display: block;
	color: #fff;
	font-size: .8rem
}

.video-page__product-box .video-page__price .disc {
  font-size: 13px; 
  text-decoration: line-through; 
  color: rgb(153, 153, 153); 
  padding-left: 3px; 
  font-weight: 500;
}

.video-page__product-box .video-page__price .disc2 {
  font-size: 12px;
  color: white;
  background: linear-gradient(90deg,#ff9000,#ff5000);
  padding: 4px 8px;
  border-radius: 50px;
  font-weight: 400; 
  margin-left: 10px;
}

.heart-animation {
  position: absolute; 
  width: 40px; 
  height: 40px; 
  right: 15px;
  z-index: 1000
}

.finished {
  left: calc(50vw - 112px); 
  top: calc(40vh - 121px); 
  position: absolute; 
  z-index: 10000; 
  justify-content: center; 
  text-align: center; 
  margin: 0 auto; 
  align-items: center; 
  justify-content: center;
}

.finished h4 {
  color: white; 
  margin-bottom: 50px; 
  font-size: 25px;
}

.finished .follow {
  position: absolute; 
  top: 88px; 
  left: 130px; 
  border-radius: 50px;
}

.finished-swipe {
  left: calc(50vw - 155px); 
  bottom: 40px; 
  position: absolute; 
  z-index: 10000; 
  justify-content: center; 
  text-align: center; 
  margin: 0 auto; 
  align-items: center; 
  justify-content: center;
}

.finished-swipe h4 {
  color: white; 
  font-size: 16px; 
  font-weight: 400;
}

@keyframes zoom {
  0% {
    transform: scale(1);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    transform: scale(1.3);
    opacity: 1;
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

img.zoom {
  animation: zoom 3.5s;
  animation-iteration-count: 1;
}


.video-page__influencer-badge-send {
	display: flex;
	position: absolute;
	left: 70px;
	z-index: 10000000;
	border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.25);
  padding: 9px 20px; 
	align-items: center;
  right: 125px;
}

.video-page__influencer-badge-send .video-page__influencer-username {
  color: white;
  font-size: 15px;
  font-weight: 600;
}

.video-page__influencer-badge-send .video-page__influencer-img {
	padding-right: .8rem
}

.video-page__influencer-badge-send .video-page__influencer-video-count {
	position: relative;
	display: block;
	color: #fff;
	font-size: .8rem
}

.video-page__influencer-badge2 {
	display: flex;
	position: absolute;
	left: 15px;
	z-index: 20;
	border-radius: 25px;
	align-items: center;
  padding-right: 9px; 
  background: none;
}

.video-page__influencer-badge2 .video-page__influencer-username2 {
	color: #fff;
	font-weight: 600;
	font-size: .85rem;
}

.video-page__influencer-badge2 .video-page__influencer-img2 {
	padding-right: 7px;
}

.video-page__influencer-badge2 .video-page__influencer-img2 img {
  border-radius: 50%; 
  width: 44px; 
  height: 44px;
  object-fit: cover;
}

.video-page__influencer-badge2 .video-page__influencer-video-count {
	position: relative;
	display: block;
	color: #fff;
	font-size: .8rem
}

.video-page__influencer-badge2 .video-page__influencer-video-count .icon__watched {
	vertical-align: text-top
}

.video-page__influencer-badge3 {
	display: flex;
	position: absolute;
	z-index: 20;
	border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.25);
	align-items: center;
  right: 10px;
}

.video-page__influencer-badge3 .video-page__influencer-username {
	color: #fff;
	font-weight: 700;
	font-size: .85rem
}

.video-page__influencer-badge3 .video-page__influencer-img {
	padding-right: .8rem
}

.video-page__influencer-badge3 .video-page__influencer-video-count {
	position: relative;
	display: block;
	color: #fff;
	font-size: .8rem
}


.video-page__influencer-badge4 {
  display: flex;
  position: absolute;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.25);
  align-items: center;
  width: 40px; 
  height: 40px; 
  right: 70px; 
  z-index: 1000;
}

.video-page__influencer-badge4 .video-page__influencer-username {
  color: #fff;
  font-weight: 700;
  font-size: .85rem
}

.video-page__influencer-badge4 .video-page__influencer-img {
  padding-right: .8rem
}

.video-page__influencer-badge4 .video-page__influencer-video-count {
  position: relative;
  display: block;
  color: #fff;
  font-size: .8rem
}


.video-page__influencer-badge5 {
	display: flex;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.25);
	align-items: center;
  width: 40px; 
  height: 40px; 
  left: 15px; 
  z-index: 1000; 
  border-radius: 50px;
}

.video-page__influencer-badge5 .video-page__influencer-username {
	color: #fff;
	font-weight: 700;
	font-size: .85rem
}

.video-page__influencer-badge5 .video-page__influencer-img {
	padding-right: .8rem
}

.video-page__influencer-badge5 .video-page__influencer-video-count {
	position: relative;
	display: block;
	color: #fff;
	font-size: .8rem
}


.video-page__influencer-badge6 {
  background: none; 
  left: initial; 
  position: relative; 
  margin: 0 auto; 
  text-align: center; 
  justify-content: center;
}

.video-page__influencer-username6 {
  font-size: 18px; 
  margin-top: 15px; 
  color: white; 
  font-weight: 400;
}

.video-page__influencer-badge6 .video-page__influencer-img {
  padding-right: 0px;
}


.video-page__influencer-badge6 .video-page__influencer-img img {
  border-radius: 50%; 
  width: 120px; 
  height: 120px; 
  object-fit: cover;
}

.video-page__influencer-badge6 .video-page__influencer-video-count {
  position: relative;
  display: block;
  color: #fff;
  font-size: .8rem
}

.video-page__influencer-badge6 .video-page__influencer-video-count .icon__watched {
  vertical-align: text-top
}


.video-page__influencer-badge7 {
  display: flex;
  position: absolute;
  left: 15px;
  z-index: 20;
  border-radius: 25px;
  background-color: rgba(0, 0, 0, 0.25);
  align-items: center;
}

.video-page__influencer-badge7 .video-page__influencer-username2 {
  color: #fff;
  font-weight: 600;
  font-size: .85rem;
}

.video-page__influencer-badge7 .video-page__influencer-img {
  padding-right: .8rem
}

.video-page__influencer-badge7 .video-page__influencer-video-count2 {
  position: relative;
  display: block;
  color: #fff;
  font-size: .8rem
}


.video-page__login-popup {
	border-radius: 25px;
	border: 1px solid #262626;
	background-color: rgba(0, 0, 0, .3);
	padding: .5rem;
	position: absolute;
	top: 0;
	right: 50px;
	justify-content: center;
	display: none
}

.video-page__login-popup.video-page__login-popup--active {
	display: flex;
	color: #fff
}

.video-page__login-popup>span {
	padding: .2rem .4rem
}

.video-page__share-popup {
	padding: 1.35rem 1.75rem;
	position: absolute;
	width: 100%;
	bottom: -80%;
	background-color: #fff;
	border-top-left-radius: 2.5rem;
	border-top-right-radius: 2.5rem;
	transition: bottom .2s linear;
	z-index: 4
}

.video-page__share-popup.video-page__share-popup--active {
	bottom: 0
}

.video-page__share-popup-share-options {
	display: flex;
	justify-content: center
}

.video-page__share-popup-title {
	text-align: center;
	font-weight: 700;
	font-size: 1rem
}

.scrollToMe {
  max-height: 200px;
  position: absolute;
  left: 15px;
  z-index: 20;
  overflow-y: scroll;
}

.video-page__description {
	margin-top: .5rem;
	color: rgba(38, 38, 38, .5);
}

.video-page__description-paragraph {
	line-height: 1.5;
}

.video-page__description-paragraph img {
	max-width: 100%;
}

.video-page__description-label {
	font-weight: 700;
	padding-bottom: 1rem;
	font-size: .94rem;
	color: #262626;
}

.video-page__overlay {
	display: flex;
	justify-content: center;
	position: absolute;
	background-color: rgba(38, 38, 38, .5);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 5
}

.video-page__overlay .default-spinner {
	width: 5rem
}

.video-page__gallery {
	min-height: 150px
}

.video-page__video-overlay {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #262626;
	transition: opacity .3s linear;
	position: absolute;
	opacity: 0;
	z-index: 0
}

.video-page__video-overlay.video-page__video-overlay--active {
	z-index: 1;
	opacity: 1
}

.video-page__video-overlay.video-page__video-overlay--share-active {
	z-index: 4;
	opacity: .6
}

.video-page__share-popup-share-option {
	text-align: center;
	padding: 1.2rem .625rem 1.7rem;
	color: rgba(0, 0, 0, .5);
	font-size: .7rem;
	text-decoration: none;
	white-space: nowrap
}

.video-page__share-popup-share-option .icon {
	font-size: 2rem;
	display: block;
	margin-bottom: .5rem
}

.video-page__create-screen-name {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 4;
	background-color: #fff;
	height: 100%;
	padding: .8rem
}

.video-page__login-popup-buy {
	padding: 1.35rem 1.75rem;
	position: fixed;
	bottom: -80%;
	background-color: #fff;
	border-top-left-radius: 2.5rem;
	border-top-right-radius: 2.5rem;
	transition: bottom .2s linear;
	z-index: 4;
	left: 0;
	right: 0;
	width: 100%;
	margin: 0 auto;
	text-align: center
}

@media (min-width:425px) {
	.video-page__login-popup-buy {
		max-width: 425px
	}
}

.video-page__login-popup-buy .default-button {
	width: 100%;
	margin-bottom: .7rem
}

.video-page__login-popup-buy .icon {
	font-size: 6rem;
	margin: 1rem 0 2rem
}

.video-page__login-popup-buy.video-page__login-popup-buy--active {
	bottom: 0
}


.rq0escxv {
	box-sizing: border-box;
}
.qttc61fc {
	border-bottom-left-radius: 4px;
}
.qt6c0cv9 {
	padding-bottom: 0;
}
.q1gqmpn5 {
	animation-name: eeh53dpm-B;
}

@keyframes eeh53dpm-B {
	0% {
		opacity: .7;
	}

	100% {
		opacity: 1;
	}
}

.pq6dq46d {
	display: inline-flex;
}
.pcp91wgn {
	padding-left: 6px;
}
.p8fzw8mz {
	padding-right: 6px;
}
.m8weaby5 {
	animation-duration: .7s;
}
.l44iypv3 {
	background-color: hsl(350, 87%, 55%);
}
.kdgqqoy6 {
	border-top-right-radius: 4px;
}
.jk6sbkaj {
	border-top-left-radius: 4px;
}
.jbu8tgem {
	animation-timing-function: cubic-bezier(.39,.575,.565,1);
}
.jb3vyjys {
	padding-top: 0;
}
.ihh4hy1g {
	border-bottom-right-radius: 4px;
}
.ee40wjg4 {
	animation-iteration-count: infinite;
}
.datstx6m {
	height: 100%;
}
.bp9cbjyn {
	align-items: center;
}
.afxn4irw {
	animation-direction: alternate;
}

.badge-viewers {
  position: absolute;
  height: 25px;
  width: fit-content;
  left: 15px; 
  border-radius: 50px; 
  z-index: 20;
}

.qv66sw1b {
	word-break: break-word;
}
.lrazzd5p {
	font-weight: 600;
}
.ljqsnud1 {
	color: #ffffff;
}
.j5wam9gi {
	line-height: 1.2308;
}
.ik7dh3pa {
	-webkit-font-smoothing: antialiased;
}
.hpfvmrgz {
	min-width: 0;
}
.e9vueds3 {
	font-size: .8125rem;
}
.d2edcug0 {
	max-width: 100%;
}
.c1et5uql {
	word-wrap: break-word;
}
.a8c37x1j {
	display: block;
}


.css-1dko8fk {
  height: 70px;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 20px;
  position: fixed;
  bottom: 0px;
  width: 100%;
  background: white;
  z-index: 10000000;
  border-top: 1px solid rgba(145,158,171,.24);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.css-miqn2j {
  line-height: 1.4375em;
  font-size: 1rem;
  font-weight: 400;
  color: rgb(33, 43, 54);
  box-sizing: border-box;
  cursor: text;
  display: inline-flex;
  align-items: center;
  width: 100%;
  position: relative;
  height: 100%;
}

.css-9gu6qp {
  font: inherit;
  letter-spacing: inherit;
  color: currentcolor;
  border: 0px;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0px;
  -webkit-tap-highlight-color: transparent;
  display: block;
  min-width: 0px;
  width: 100%;
  animation-name: mui-auto-fill-cancel;
  animation-duration: 10ms;
  padding: 10px 0px 10px 15px; 
  font-size: 14px;
  background: rgb(244, 244, 244); 
  border-radius: 30px; 
  font-weight: 400;
}

.css-il3d4y.Mui-disabled {
  background-color: transparent;
  color: rgba(145, 158, 171, 0.8);
}

.css-il3d4y.Mui-disabled {
  pointer-events: none;
  cursor: default;
}
.css-il3d4y {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px 8px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  text-align: center;
  flex: 0 0 auto;
  font-size: 1.5rem;
  padding: 8px;
  border-radius: 50%;
  overflow: visible;
  transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: #f0284a;
}

.visible {
  position: absolute; 
  z-index: 1000000; 
  width: 50px; 
  height: 50px; 
  left: calc(50% - 25px); 
  top: calc(50% - 25px);
}

.purchases {
	animation: slide 0.5s forwards;
	animation-delay: 2s;
	left: -300px;
}

.entrances {
	animation: slide 0.5s forwards;
	animation-delay: 2s;
	left: -300px;
}

.store-products-item__login-popup.store-products-item__login-popup--active {
	bottom: 0;
}

.store-products-item__login-popup {
	position: fixed;
	width: 100%;
	bottom: -80%;
	background-color: #fff;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
  animation-duration: 400ms;
  animation-iteration-count: 1;
  animation-fill-mode: both;
  animation-name: keyframe_d37zz3;
	z-index: 1000000000;
}

@keyframes keyframe_d37zz3 {
	0% {
		opacity: 0;
		transform: translate(0px, 100%);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

.store-products-item__overlay {
	display: flex;
	justify-content: center;
	position: absolute;
	background-color: rgba(38,38,38,.5);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 99999;
}

.shop--item {
	background-color: rgb(255, 255, 255);
	color: rgb(33, 43, 54);
	overflow: hidden;
	position: relative;
	border-radius: 16px;
	z-index: 0;
}
.shop--item > div:first-of-type > div > img {
	object-fit: cover;
	max-width: 100%;
}
.shop--item--details {
	display: flex;
	flex-direction: column;
	padding-top: 10px;
}
.shop--item--name {
  font-weight: 500;
  line-height: 1.57143;
  font-size: .875rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  text-transform: capitalize;
}
.shop--item--details > div {
	margin: 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.color {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.color > span {
	margin-left: -4px;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	border: 2px solid rgb(255, 255, 255);
	box-shadow: rgb(0 0 0 / 24%) -1px 1px 2px inset;
}
.price {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 0 0 4px;
}
.last-price {
  font-weight: 400;
  color: #919eab;
  text-decoration: line-through;
  font-size: 12px;
  margin-left: 7px;
}

.btn-swipe2 {
	background: rgb(24, 206, 160);
	color: white !important;
	font-weight: 600;
	margin: 0 auto;
	padding: 12px 36px;
	font-size: 15px;
	text-align: center;
}

.feed-scroll {
  position: relative; 
  height: 100vh; 
  scroll-snap-align: start; 
  scroll-snap-stop: always; 
  z-index: 10000000;
}

.feed::-webkit-scrollbar {
	display: none;
}
.feed {
  overflow-y: scroll; 
  height: 100vh; 
  scroll-snap-type: y mandatory;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.scrollToMe::-webkit-scrollbar {
	display: none;
}
.scrollToMe {
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.store-products-item__login-popup::-webkit-scrollbar {
	display: none;
}
.store-products-item__login-popup {
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.filter-top {
  background-image: linear-gradient(0deg, transparent 87%, rgba(0, 0, 0, 0.4)); 
  height: 100%; 
  position: absolute; 
  z-index: 10; 
  width: 100%; 
  top: 0px;
}

.filter-bottom {
  background-image: linear-gradient(180deg, transparent 60%, rgba(0, 0, 0, 0.4)); 
  height: 100%; 
  position: absolute; 
  z-index: 10; 
  width: 100%; 
  bottom: 0px;
}

.filter-blur {
  backdrop-filter: saturate(180%) blur(55px); 
  background-color: rgba(25, 25, 25, 0.6);
  top: 0px;
  z-index: 10; 
  width: 100%;
  height: 100%;
  position: absolute;
}

.filter-img {
  object-fit: cover; 
  z-index: 2;
  position: absolute;
  width: 100%;
  height: 100vh; 
  top: 0px;
}

.product-popup {
  overflow-y: scroll; 
  height: 85%; 
  padding-bottom: 120px;
  border-top-left-radius: 20px !important;
  border-top-right-radius: 20px !important;
}

.hide-svg {
  width: 30px; 
  height: 30px; 
  fill: rgb(153, 153, 153); 
  padding: 5px; 
  background: white; 
  border-radius: 30px; 
  opacity: 0.5; 
  position: absolute; 
  top: 15px; 
  left: 15px; 
  z-index: 100000000;
}


.heart-svg {
  width: 30px;
  height: 30px;
  fill: white;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100000000;
}

.product-popup-btn {
  background-color: white;
  bottom: 0px; 
  position: fixed; 
  z-index: 1000000001;
}

.product-popup-btn {
  background-color: white;
  bottom: 0px; 
  position: fixed; 
  z-index: 1000000001;
}

.product-popup-btn .groups {
  padding: 15px 20px 42px;
  background-color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-popup-btn .btn-addtoCart {
  color: rgb(24, 206, 160);
  text-align: center;
  width: calc(50vw - 25px);
  background: white;
  padding: 13px 20px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 15px;
  margin: 0px 20px 0px 0px;
  height: 50px;
  border: 2px solid rgb(24, 206, 160);
}

.product-popup-btn .btn-checkout {
  text-align: center;
  width: calc(50vw - 25px);
  padding: 14px 20px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 15px;
  margin: 0px;
  background: rgb(24, 206, 160);
  color: rgb(255, 255, 255);
  height: 50px;
}

.scroll-indicator {
  height: 5px;
  width: 60px;
  background: rgba(0,0,0,0.2);
  border-radius: 4.5px;
  margin: 15px auto;
}

.cart-popup {
  overflow-y: scroll; 
  height: 65%; 
  width: 100vw; 
  box-shadow: 0 0 5px rgb(0 0 0 / 20%); 
  padding: 0px 5px 15px; 
  left: 0px; 
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px;
}


.cart-popup .cart-box {
  text-align: center; 
  margin-bottom: 20px; 
  font-weight: 600; 
  color: rgb(51, 51, 51);
}

.cart-popup .cart-box .cart-title {
  text-align: center; 
  font-size: 17px; 
  margin: 0px auto; 
  color: #272c30;
}

.follow-popup {
  overflow-y: scroll; 
  height: 21%; 
  width: 100vw; 
  box-shadow: 0 0 5px rgb(0 0 0 / 20%); 
  padding: 0px 10px 0px; 
  left: 0px; 
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px;
  overflow-y: initial; 
  text-align: center;
}

.follow-popup img {
  margin: 5px; 
  width: 72px; 
  height: 72px; 
  border-radius: 50%; 
  border: 3px solid white; 
  margin-top: -40px;
}


.follow-popup .follow-text {
  font-size: 11px; 
  text-align: center; 
  font-weight: 400; 
  color: #999;
}

.shop-popup {
  overflow-y: scroll; 
  height: 60%; 
  width: 100vw; 
  box-shadow: 0 0 5px rgb(0 0 0 / 20%); 
  padding: 0px 10px 15px; 
  left: 0px; 
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px;
}

.shop-popup .shop-box {
  text-align: center; 
  font-weight: 600; 
  color: rgb(51, 51, 51);
}

.shop-popup .shop-title {
  text-align: center; 
  font-size: 16px; 
  margin: 0px auto; 
  color: #272c30;
}

.shop-popup .shop--part {
  margin: 0px; 
  padding: 0px 5px;
}

.promo-popup {
  overflow-y: scroll; 
  height: 40%; 
  width: 100vw; 
  box-shadow: 0 0 5px rgb(0 0 0 / 20%); 
  padding: 0px 15px 15px; 
  left: 0px; 
  border-top-left-radius: 20px; 
  border-top-right-radius: 20px;
}

.promo-popup .promo-box {
  text-align: center; 
  margin-bottom: 20px; 
  font-weight: 600; 
  color: rgb(51, 51, 51);
}

.promo-popup .promo-title {
  text-align: center; 
  font-size: 17px;
  margin: 0px auto; 
  color: #272c30;
}

.promo-popup .promo-info {
  text-align: left; 
  font-size: 12px; 
  line-height: 1.57143; 
  font-size: 13px; 
  font-weight: 400; 
  margin: 0; 
  margin-top: 15px; 
  padding: 10px;
}

.promo-popup .promo-container {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 5px;
  margin: 5px;
  padding: 8px 0px;
  margin-top: 10px;
  border-radius: 10px; 
  margin-bottom: 15px;
}

.promo-popup .promo-img {
  margin: 7px 25px;
  width: 64px;
  height: 64px;
  border-radius: 100%;
}

.promo-popup .promo-hr {
  margin: 0px;
  border-width: 0 2px 0 0;
  border-style: dashed;
  border-color: rgba(145,158,171,.24);
}

.promo-popup .promo-h4 {
  font-size: 30px; 
  font-weight: 600; 
  margin-top: 3px; 
  margin-bottom: 0px
}

.checkout-popup {
  border-radius: 0px;
}

.lasted--product {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: hidden;
  padding: 3px;
}
.product--item {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eff1f6;
  padding-bottom: 12px;
  align-items: center;
}
.product--item img {
  line-height: 0;
  display: block;
  border-radius: 10px;
  width: 64px;
  height: 64px;
  margin-right: 16px;
}
.product--item .details {
  flex-grow: 1;
}
.product--item .details .title {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  line-height: 1.57143;
  font-size: 15px;
}

.stock-available {
  margin: 0px; 
  height: 22px; 
  min-width: 22px; 
  line-height: 0; 
  border-radius: 6px; 
  cursor: default; 
  align-items: center; 
  white-space: nowrap; 
  display: inline-flex; 
  justify-content: center; 
  color: rgb(34, 154, 22); 
  font-size: 0.75rem; 
  background-color: rgba(84, 214, 44, 0.16); 
  font-weight: 700; 
  padding: 0 8px; 
  margin-top: 3px;
}

.stock-unavailable {
  margin: 0px; 
  height: 22px; 
  min-width: 22px; 
  line-height: 0; 
  border-radius: 6px; 
  cursor: default; 
  align-items: center; 
  white-space: nowrap; 
  display: inline-flex; 
  justify-content: center; 
  color: #ff0000; 
  font-size: 0.75rem; 
  background-color: #d62c2c29; 
  font-weight: 700; 
  padding: 0 8px; 
  margin-top: 3px;
}


/* This used to work for the parent element of button divs */
/* But it does not work with newer browsers, the below doesn't hide the play button parent div */

video::-webkit-media-controls-panel {
	display: none!important;
	-webkit-appearance: none;
}

/* Old shadow dom for play button */

video::-webkit-media-controls-play-button {
	display: none!important;
	-webkit-appearance: none;
}

/* New shadow dom for play button */

/* This one works! */

video::-webkit-media-controls-start-playback-button {
	display: none!important;
	-webkit-appearance: none;
}


@keyframes slide {
	100% { left: 15px; }
}


.KeyframeAnimation-js_5 {
  animation-name: KeyframeAnimation-js_5;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

.KeyframeAnimation-js_6 {
  animation-name: KeyframeAnimation-js_6;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-duration: 7.25s;
  animation-iteration-count: 1;
}
.KeyframeAnimation-js_7 {
  animation-name: KeyframeAnimation-js_7;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.KeyframeAnimation-js_8 {
  animation-name: KeyframeAnimation-js_8;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.KeyframeAnimation-js_9 {
  animation-name: KeyframeAnimation-js_9;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.KeyframeAnimation-js_10 {
  animation-name: KeyframeAnimation-js_10;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.KeyframeAnimation-js_11 {
  animation-name: KeyframeAnimation-js_11;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.KeyframeAnimation-js_12 {
  animation-name: KeyframeAnimation-js_12;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.KeyframeAnimation-js_13 {
  animation-name: KeyframeAnimation-js_13;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.KeyframeAnimation-js_14 {
  animation-name: KeyframeAnimation-js_14;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.KeyframeAnimation-js_15 {
  animation-name: KeyframeAnimation-js_15;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.KeyframeAnimation-js_16 {
  animation-name: KeyframeAnimation-js_16;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.KeyframeAnimation-js_17 {
  animation-name: KeyframeAnimation-js_17;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.KeyframeAnimation-js_18 {
  animation-name: KeyframeAnimation-js_18;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.KeyframeAnimation-js_19 {
  animation-name: KeyframeAnimation-js_19;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.KeyframeAnimation-js_20 {
  animation-name: KeyframeAnimation-js_20;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.KeyframeAnimation-js_21 {
  animation-name: KeyframeAnimation-js_21;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.KeyframeAnimation-js_22 {
  animation-name: KeyframeAnimation-js_22;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.KeyframeAnimation-js_23 {
  animation-name: KeyframeAnimation-js_23;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.KeyframeAnimation-js_24 {
  animation-name: KeyframeAnimation-js_24;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.KeyframeAnimation-js_25 {
  animation-name: KeyframeAnimation-js_25;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.KeyframeAnimation-js_26 {
  animation-name: KeyframeAnimation-js_26;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.KeyframeAnimation-js_27 {
  animation-name: KeyframeAnimation-js_27;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.KeyframeAnimation-js_28 {
  animation-name: KeyframeAnimation-js_28;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.KeyframeAnimation-js_29 {
  animation-name: KeyframeAnimation-js_29;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-duration: 3s;
  animation-iteration-count: 1;
}
.KeyframeAnimation-js_30 {
  animation-name: KeyframeAnimation-js_30;
  animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  animation-duration: 3s;
  animation-iteration-count: 1;
}

.stjgntxs {
  overflow-y: hidden;
}
.pmk7jnqg {
  position: absolute;
}
.ni8dbmo4 {
  overflow-x: hidden;
}
.n7fi1qx3 {
  right: 0;
}
.kr520xx4 {
  top: 0;
}
.hzruof5a {
  pointer-events: none;
}
.etr7akla {
  width: 100px;
}
.bt9ki6u7 {
  bottom: 0px;
}
.bipmatt0 {
  height: inherit;
}
._g19 {
  height: 48px;
  position: absolute;
  width: 48px;
}


@keyframes KeyframeAnimation-js_5 {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-450px);
  }
}

@keyframes KeyframeAnimation-js_7 {
  0% {
    transform: scale(0.5);
  }

  40% {
    opacity: 1;
    transform: scale(0.65);
  }
  100% {
    opacity: 0;
    transform: scale(0.1);
  }
}

@keyframes KeyframeAnimation-js_6 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }

  50% {
    transform: translateX(5.36px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes KeyframeAnimation-js_8 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }

  50% {
    transform: translateX(15.36px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes KeyframeAnimation-js_9 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }

  50% {
    transform: translateX(2.36px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes KeyframeAnimation-js_10 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-15.36px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes KeyframeAnimation-js_11 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-7.36px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes KeyframeAnimation-js_12 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-22.36px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes KeyframeAnimation-js_13 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }

  50% {
    transform: translateX(8.36px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes KeyframeAnimation-js_14 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }

  50% {
    transform: translateX(1.36px);
  }
  100% {
    transform: translateX(0px);
  }
}


@keyframes KeyframeAnimation-js_15 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }

  50% {
    transform: translateX(7.78px);
  }
  100% {
    transform: translateX(0px);
  }
}


@keyframes KeyframeAnimation-js_16 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-40.36px);
  }
  100% {
    transform: translateX(0px);
  }
}


@keyframes KeyframeAnimation-js_17 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-24.36px);
  }
  100% {
    transform: translateX(0px);
  }
}


@keyframes KeyframeAnimation-js_18 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-17.36px);
  }
  100% {
    transform: translateX(0px);
  }
}


@keyframes KeyframeAnimation-js_19 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0px);
  }
}


@keyframes KeyframeAnimation-js_20 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-30.36px);
  }
  100% {
    transform: translateX(0px);
  }
}


@keyframes KeyframeAnimation-js_21 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-21.36px);
  }
  100% {
    transform: translateX(0px);
  }
}


@keyframes KeyframeAnimation-js_22 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }

  50% {
    transform: translateX(8.36px);
  }
  100% {
    transform: translateX(0px);
  }
}


@keyframes KeyframeAnimation-js_23 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }

  50% {
    transform: translateX(11.36px);
  }
  100% {
    transform: translateX(0px);
  }
}


@keyframes KeyframeAnimation-js_24 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }

  50% {
    transform: translateX(27.36px);
  }
  100% {
    transform: translateX(0px);
  }
}


@keyframes KeyframeAnimation-js_25 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }

  50% {
    transform: translateX(13.25px);
  }
  100% {
    transform: translateX(0px);
  }
}


@keyframes KeyframeAnimation-js_26 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-13.36px);
  }
  100% {
    transform: translateX(0px);
  }
}


@keyframes KeyframeAnimation-js_27 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }

  50% {
    transform: translateX(36.36px);
  }
  100% {
    transform: translateX(0px);
  }
}


@keyframes KeyframeAnimation-js_28 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }

  50% {
    transform: translateX(25.36px);
  }
  100% {
    transform: translateX(0px);
  }
}


@keyframes KeyframeAnimation-js_29 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }

  50% {
    transform: translateX(1.36px);
  }
  100% {
    transform: translateX(0px);
  }
}


@keyframes KeyframeAnimation-js_30 {
  0% {
    animation-timing-function: ease-in-out;
    transform: translateX(0px);
  }

  50% {
    transform: translateX(-5.36px);
  }
  100% {
    transform: translateX(0px);
  }
}