.top-author--container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 20px;
}
.top-author--item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.top-author--item > img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 54px;
  height: 54px;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  object-fit: cover;
}
.top-author--item > div:first-of-type {
  margin: 0px 0px 0px 16px;
  flex-grow: 1;
}
.top-author--item > div > span {
  font-weight: 500;
  line-height: 1.57143;
}

.top-author--item > div > div {
  line-height: 1.5;
  font-size: 14px;
  font-weight: 400;
  color: #525c66;
  display: flex;
  align-items: center;
}
.top-author--item > div > div > svg {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}
.top-author--container .btn-follow {
  background-color: #eee; 
  color: #666; 
  text-align: center;
  width: fit-content;
  margin: 0px auto;
  padding: 5px 24px;
  border-radius: 30px;
  font-size: 13px;
}

.images_filter ul {
  background-color: #f4f6f9;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
}

.images_filter ul li {
  display: inline-block;
  text-align: center;
  width: 50%;
  margin: 2px;
  padding: 1vh 0;
  color: #6c7b8a;
}

.images_filter ul .active {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
}