.products {
  height: 100vh;
  width: 100%;
}

.products header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 6vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 5vw;
}

.images_sec::-webkit-scrollbar {
  display: none;
}
.images_sec {
  -ms-overflow-style: none;
  scrollbar-width: none;
}


.products header .h-left .h-title {
  font-size: 0.9em;
  padding-left: 4vw;
  text-transform: uppercase;
  margin-bottom: 0;
}

.products header img {
  width: 20px;
}

.products header .h-right img {
  margin-left: 3vw;
}

img {
  width:100%
}

.products .list_options {
  padding: 2vh 5vw;
  background-color: #f9fbfe;
}

.products .list_options ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.products .list_options ul li .dropdown .btn {
  font-size: 0.9em;
  background-color: #fff !important;
  color: #222;
  border: none;
  -webkit-box-shadow: 0px 0px 8px 5px #eee;
  box-shadow: 0px 0px 8px 5px #eee;
  text-transform: uppercase;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-right: 2vw;
}

.products .list_options ul li .dropdown-menu {
  margin-top: 2vh;
  margin-left: -25%;
  padding: 1vh 2vw;
  -webkit-box-shadow: 0px 0px 4px 4px #eee;
  box-shadow: 0px 0px 4px 4px #eee;
  position: relative;
  width: 70vw;
}

.products .list_options ul li .dropdown-menu ul {
  display: block;
}

.products .list_options ul li .dropdown-menu li:not(:last-child) {
  border-bottom: 1px solid #eee;
}

.products .list_options ul li .dropdown-menu .checked .option {
  color: #222;
}

.products .list_options ul li .dropdown-menu li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  padding: 1vh 0;
}

.products .list_options ul li .dropdown-menu li .option {
  font-size: 0.8em;
  margin-bottom: 0;
  color: #555;
}

.products .list_options ul li .dropdown-menu.first:before {
  left: 15%;
}

.products .list_options ul li .dropdown-menu.second:before {
  left: 42%;
}

.products .list_options ul li .dropdown-menu.last:before {
  right: 25%;
}

.products .list_options ul li .dropdown-menu:before {
  content: "";
  position: absolute;
  top: -5px;
  width: 14px;
  height: 14px;
  border: 6px solid;
  border-color: #fff #fff transparent transparent;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.products .list_options ul li .my_form_check {
  display: inline-block;
}

.products .list_options ul li .styled-checkbox {
  position: absolute;
  opacity: 0;
}

.products .list_options ul li .styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}

.products .list_options ul li .styled-checkbox + label:before {
  content: "";
  margin-right: 4vw;
  display: inline-block;
  vertical-align: text-top;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 1px 1px #ccc;
  box-shadow: 0 0 1px 1px #ccc;
}

.products .list_options ul li .styled-checkbox:hover + label:before {
  background: #dadada;
}

.products .list_options ul li .styled-checkbox:focus + label:before {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.products .list_options ul li .styled-checkbox:checked + label:before {
  background: #3b3b4d;
}

.products .list_options ul li .styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}

.products .list_options ul li .styled-checkbox:checked + label:after {
  content: "";
  position: absolute;
  left: 4px;
  top: 9px;
  background: white;
  width: 1.8px;
  height: 1.8px;
  -webkit-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white,
  4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white,
  4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.products .list_options ul .sliders {
  position: relative;
}

.products .list_options ul .sliders img {
  width: 18px;
}

.products .list_options ul .sliders .number {
  position: absolute;
  color: #fff;
  top: -1vh;
  right: -4px;
  padding: 1px 3px;
  border-radius: 3px;
  background-color: #5882f2;
  font-size: 0.6em;
}

.products .items {
  padding: 0 5vw;
}

.products .items .col-img {
  padding-right: 0;
}

.products .items .one_item {
  padding: 2vh 0;
  border-bottom: 1px solid #eee;
}

.products .items .one_item .title {
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 6px;
}

.products .items .one_item .desc {
  font-size: 0.7em;
  color: #6c7b8a;
  font-style: italic;
  margin-bottom: 4px;
}

.products .items .one_item .price {
  float: right;
  color: #333;
  position: relative;
  top: 1px;
}

.products .my_navbar {
  overflow: hidden;
  height: 6vh;
  width: 100vw;
}

.products .my_navbar .nav_content {
  position: fixed;
  bottom: 0vh;
  left: 0;
  width: 100%;
  height: 6vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 5vw;
}

.products .my_navbar .nav_content .icon_nav {
  text-align: center;
}

.products .my_navbar .nav_content .icon_nav img {
  width: 70%;
}

.products .my_navbar .nav_content .shopping {
  position: relative;
}

.products .my_navbar .nav_content .shopping .number {
  position: absolute;
  right: 0px;
  top: 0;
  background-color: #5882f2;
  color: #fff;
  padding: 1px 5px;
  border-radius: 4px;
  font-size: 0.6em;
}
.icon, .icon svg {
    vertical-align: top;
}

.icon svg {
    height: 100%;
    width: 1.5em;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}


.images_sec {
  padding: 30px 15px;
}

.images_sec .images_filter ul {
  background-color: #f4f6f9;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.images_sec .images_filter ul li {
  display: inline-block;
  text-align: center;
  margin: 2px;
  padding: 7px 12px;
  color: #6c7b8a;
  width: calc(25vw - 12px);
}

.images_sec .images_filter ul .active {
  background-color: #fff;
  color: #272c30;
  border-radius: 10px;
}

.images_sec .images {
  margin-top: 2vh;
}

.images_sec .images .row {
  margin: 0;
}

.col-img {
  padding: 2px 1vw;
}

.images_sec .images .image img {
  border-radius: 5px;
}


.top-author--container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 15px;

}
.top-author--item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px; 
  border-radius: 13px; 
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
}
.top-author--item > img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  line-height: 0;
  display: block;
  border-radius: 10px;
  width: 64px;
  height: 64px;
  font-size: 1.25rem;
  overflow: hidden;
  user-select: none;
  object-fit: cover;
}
.top-author--item > div:first-of-type {
  margin: 0px 0px 0px 12px;
  flex-grow: 1;
}
.top-author--item > div > span {
  font-weight: 500;
  line-height: 1.57143;
}

.top-author--item > div > div {
  line-height: 1.5;
  font-size: 0.75rem;
  font-weight: 400;
  color: #525c66;
  display: flex;
  align-items: center;
}
.top-author--item > div > div > svg {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.css-4ioo3c {
  line-height: 0;
  border-radius: 6px;
  cursor: default;
  align-items: center;
  white-space: nowrap;
  display: inline-flex;
  justify-content: center;
  padding: 17px 12px;
  color: hsl(161deg 65% 64%);
  font-size: 14px;
  font-weight: 700;
  color: rgb(34, 154, 22);
  background-color: rgba(84, 214, 44, 0.16);
}

.tags::-webkit-scrollbar {
  display: none;
}
.tags {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tag-tab {
  background-color: rgb(238, 238, 238);
  color: rgb(102, 102, 102);
  text-align: center;
  padding: 5px 20px;
  border-radius: 30px;
  font-size: 14px;
  margin-right: 10px;
  width: max-content;
}
