.products {
	height: 100vh;
	width: 100%;
}

img {
	width:100%
}

.products .list_options {
	padding: 2vh 5vw;
	background-color: #f9fbfe;
}

.products .list_options ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.products .list_options ul li .dropdown .btn {
	font-size: 0.9em;
	background-color: #fff !important;
	color: #222;
	border: none;
	-webkit-box-shadow: 0px 0px 8px 5px #eee;
	box-shadow: 0px 0px 8px 5px #eee;
	text-transform: uppercase;
	padding-left: 5vw;
	padding-right: 5vw;
	margin-right: 2vw;
}

.products .list_options ul li .dropdown-menu {
	margin-top: 2vh;
	margin-left: -25%;
	padding: 1vh 2vw;
	-webkit-box-shadow: 0px 0px 4px 4px #eee;
	box-shadow: 0px 0px 4px 4px #eee;
	position: relative;
	width: 70vw;
}

.products .list_options ul li .dropdown-menu ul {
	display: block;
}

.products .list_options ul li .dropdown-menu li:not(:last-child) {
	border-bottom: 1px solid #eee;
}

.products .list_options ul li .dropdown-menu .checked .option {
	color: #222;
}

.products .list_options ul li .dropdown-menu li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	padding: 1vh 0;
}

.products .list_options ul li .dropdown-menu li .option {
	font-size: 0.8em;
	margin-bottom: 0;
	color: #555;
}

.products .list_options ul li .dropdown-menu.first:before {
	left: 15%;
}

.products .list_options ul li .dropdown-menu.second:before {
	left: 42%;
}

.products .list_options ul li .dropdown-menu.last:before {
	right: 25%;
}

.products .list_options ul li .dropdown-menu:before {
	content: "";
	position: absolute;
	top: -5px;
	width: 14px;
	height: 14px;
	border: 6px solid;
	border-color: #fff #fff transparent transparent;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.products .list_options ul li .my_form_check {
	display: inline-block;
}

.products .list_options ul li .styled-checkbox {
	position: absolute;
	opacity: 0;
}

.products .list_options ul li .styled-checkbox + label {
	position: relative;
	cursor: pointer;
	padding: 0;
}

.products .list_options ul li .styled-checkbox + label:before {
	content: "";
	margin-right: 4vw;
	display: inline-block;
	vertical-align: text-top;
	width: 16px;
	height: 16px;
	background: #fff;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 1px 1px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
}

.products .list_options ul li .styled-checkbox:hover + label:before {
	background: #dadada;
}

.products .list_options ul li .styled-checkbox:focus + label:before {
	-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.products .list_options ul li .styled-checkbox:checked + label:before {
	background: #3b3b4d;
}

.products .list_options ul li .styled-checkbox:disabled + label {
	color: #b8b8b8;
	cursor: auto;
}

.products .list_options ul li .styled-checkbox:checked + label:after {
	content: "";
	position: absolute;
	left: 4px;
	top: 9px;
	background: white;
	width: 1.8px;
	height: 1.8px;
	-webkit-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white,
	4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
	box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white,
	4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.products .list_options ul .sliders {
	position: relative;
}

.products .list_options ul .sliders img {
	width: 18px;
}

.products .list_options ul .sliders .number {
	position: absolute;
	color: #fff;
	top: -1vh;
	right: -4px;
	padding: 1px 3px;
	border-radius: 3px;
	background-color: #5882f2;
	font-size: 0.6em;
}

.products .items {
	padding: 0 5vw;
}

.products .items .col-img {
	padding-right: 0;
}

.products .items .one_item {
	padding: 2vh 0;
	border-bottom: 1px solid #eee;
}

.products .items .one_item .title {
	font-size: 0.9em;
	font-weight: 500;
	margin-bottom: 6px;
}

.products .items .one_item .desc {
	font-size: 0.7em;
	color: #6c7b8a;
	font-style: italic;
	margin-bottom: 4px;
}

.products .items .one_item .price {
	float: right;
	color: #333;
	position: relative;
	top: 1px;
}

.products .my_navbar {
	overflow: hidden;
	height: 6vh;
	width: 100vw;
}

.products .my_navbar .nav_content {
	position: fixed;
	bottom: 0vh;
	left: 0;
	width: 100%;
	height: 6vh;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0 5vw;
}

.products .my_navbar .nav_content .icon_nav {
	text-align: center;
}

.products .my_navbar .nav_content .icon_nav img {
	width: 70%;
}

.products .my_navbar .nav_content .shopping {
	position: relative;
}

.products .my_navbar .nav_content .shopping .number {
	position: absolute;
	right: 0px;
	top: 0;
	background-color: #5882f2;
	color: #fff;
	padding: 1px 5px;
	border-radius: 4px;
	font-size: 0.6em;
}
.icon, .icon svg {
	vertical-align: top;
}

.icon svg {
	height: 100%;
	width: 1.5em;
}
svg {
	overflow: hidden;
	vertical-align: middle;
}


.images_sec {
	padding: 30px 15px;
}

.images_sec .images_filter ul {
	background-color: #f4f6f9;
	border-radius: 12px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.images_sec .images_filter ul li {
	display: inline-block;
	text-align: center;
	width: 50%;
	margin: 2px 1%;
	padding: 1vh 0;
	color: #6c7b8a;
}

.images_sec .images_filter ul .active {
	background-color: #fff;
	color: #272c30;
	border-radius: 10px;
}

.images_sec .images {
	margin-top: 2vh;
}

.images_sec .images .row {
	margin: 0;
}

.col-img {
	padding: 2px 1vw;
}

.images_sec .images .image img {
	border-radius: 5px;
}

.top-author--container {
	display: flex;
	flex-direction: column;
	padding: 15px;
	gap: 10px;
}
.top-author--item {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.top-author--item > img {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 40px;
	height: 40px;
	font-size: 1.25rem;
	line-height: 1;
	border-radius: 8px;
	overflow: hidden;
	user-select: none;
	object-fit: cover;
}
.top-author--item > div:first-of-type {
	margin: 0px 0px 0px 12px;
	flex-grow: 1;
}
.top-author--item > div > span {
	font-weight: 600;
	line-height: 1.57143;
	font-size: 14px;
}

.top-author--item > div > div {
	line-height: 1.5;
	font-size: 0.75rem;
	color: #525c66;
	display: flex;
	align-items: center;
}
.top-author--item > div > div > svg {
	width: 16px;
	height: 16px;
	margin-right: 4px;
}

.css-4ioo3c {
	line-height: 0;
	border-radius: 6px;
	cursor: default;
	align-items: center;
	white-space: nowrap;
	display: inline-flex;
	justify-content: center;
	padding: 20px 20px;
	color: hsl(161deg 65% 64%);
	font-size: 14px;
	background-color: hsl(160deg 60% 96%);
	font-weight: 700;
}

.container {
	padding-left: 24px;
	padding-right: 24px;
}
h4 {
	font-weight: 700;
	line-height: 1.5;
	font-size: 24px;
	color: rgb(33, 43, 54);
	margin-bottom: 8px;
}
.container--nav {
	line-height: 1.5;
	font-size: 1rem;
	color: #525c66;
	margin-bottom: 40px;
}
.container--nav ol {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.container--nav ol a {
	text-decoration: none;
	font-size: 0.875rem;
	text-decoration: none;
	line-height: 2;
	display: flex;
	align-items: center;
	color: rgb(33, 43, 54);
}
.container--nav ol a:hover {
	text-decoration: underline;
}
.container--nav ol li:nth-child(2n){
	display: flex;
	user-select: none;
	margin-left: 16px;
	margin-right: 16px;
}
.container--nav ol li {
	color: rgb(33, 43, 54);
}
.container--nav ol li span {
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background-color: rgb(145, 158, 171);
}
.container--nav ol li:last-of-type {
	color: rgb(145, 158, 171);
	font-size: 0.875rem;
	text-decoration: none;
	line-height: 2;
	display: flex;
	align-items: center;
}
.container--chat {
	background-color: rgb(255, 255, 255);
	color: rgb(33, 43, 54);
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	background-image: none;
	overflow: hidden;
	position: relative;
	box-shadow: rgb(145 158 171 / 20%) 0px 0px 2px 0px, rgb(145 158 171 / 12%) 0px 12px 24px -4px;
	border-radius: 16px;
	z-index: 0;
	height: 486px;
	display: flex;
}
.container--chat hr {
	margin: 0px;
	flex-shrink: 0;
	border-width: 0px 0px thin;
	border-style: solid;
	border-color: rgba(145, 158, 171, 0.24);
}
.chat--right {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	color: rgb(33, 43, 54);
	max-width: 100%;
}
.chat--head {
	min-height: 55px;
	justify-content: initial;
	padding: 0 15px;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 5px; 
  display: flex; 
  align-items: center;
  position: fixed;
  z-index: 100000000;
  width: 100%;
  background-color: white;
  top: calc(env(safe-area-inset-top));
}
.chat--head svg {
  width: 20px;
  height: 20px; 
  fill: #161823; 
  margin-right: 12px;
}
.chat--head--profil {
	display: flex;
	align-items: center;
}
.chat--head--profil--img {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	width: 40px;
	height: 40px;
	font-size: 1.25rem;
	line-height: 1;
	border-radius: 50%;
	user-select: none;
}
.chat--head--profil--img img {
	width: 100%;
	height: 100%;
	text-align: center;
	object-fit: cover;
	color: transparent;
	border-radius: 50%;
}

.chat--head--status {
  margin: 0;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #919eab;
  font-weight: 400;
  display: block;
  margin-top: -2px;
}

.offline {
	width: 10px;
	height: 10px;
	display: flex;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	background-color: rgb(255, 193, 7);
	position: absolute;
	left: 36px;
	bottom: 2px;
}
.offline:before {
	width: 2px;
	height: 4px;
	transform: translateX(1px) translateY(-1px);
	content: "";
	border-radius: 1px;
	background-color: rgb(255, 255, 255);
}
.offline:after {
	width: 2px;
	height: 4px;
	transform: translateY(1px) rotate(125deg);
	content: "";
	border-radius: 1px;
	background-color: rgb(255, 255, 255);
}
.chat--head--profil--name {
	margin-left: 16px;
}
.chat--head--profil--name p {
	margin: 0px;
	font-weight: 500;
	line-height: 1.57143;
	font-size: 16px;
  text-transform: capitalize;
}
.chat--head--profil--name span {
	line-height: 1.57143;
	font-size: 0.875rem;
	color: #525c66;
}
.chat--head--button > button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	box-sizing: border-box;
	background-color: transparent;
	outline: 0px;
	border: 0px;
	margin: 0px;
	cursor: pointer;
	user-select: none;
	vertical-align: middle;
	appearance: none;
	text-decoration: none;
	text-align: center;
	flex: 0 0 auto;
	font-size: 1.5rem;
	padding: 8px;
	border-radius: 50%;
	overflow: visible;
	color: #525c66;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.chat--head--button > button:hover {
	background-color: rgba(99, 115, 129, 0.08);
}
.chat--head--button > button svg {
	width: 20px;
	height: 20px;
}
.container--chat--all {
	display: flex;
	flex-direction: column;
}
.detail--chat--right {
	display: flex;
	align-items: stretch;
	height: 120px !important;
}
.detail--chat--right > div{
	height: 100%;
}
.chat--right {
	display: flex;
	flex-direction: column;
}
.container--chat--input {
	display: flex;
	flex-direction: column;
	height: 100%;
}
.chat--messages {
	padding: 15px;
  padding-top: 60px;
  padding-bottom: 0px;
  overflow-y: scroll;
}
.chat--messages-time {
  margin: 15px;
  line-height: 1.57143;
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #b2b2b2;
  font-weight: 400;
  display: block;
  text-align: center;
}
.chat--messages--send {
	margin-left: auto;
}
.chat--message--profil {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	font-size: 1.25rem;
	line-height: 1;
	border-radius: 50%;
	overflow: hidden;
	user-select: none;
	width: 32px;
	height: 32px;
  margin-right: 7px;
  margin-top: auto;
}
.chat--message--profil img {
	width: 100%;
	height: 100%;
	text-align: center;
	object-fit: cover;
	color: transparent;
}
.chat--messages--receive .chat--message--item {
	margin-right: 20%;
}
.chat--messages--send .chat--message--item {
  margin-left: 20%;
}
.chat--message--item {
  max-width: 100%;
}
.chat--message--item--date {
	margin: 0px 0px 6px;
	line-height: 1.5;
	font-size: 0.75rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: flex;
	color: #525c66;
}
.chat--message--item--text {
	max-width: 320px;
	padding: 7px 12px;
	border-radius: 18px;
	font-size: 16px;
  background-color: white;
  font-weight: 400;
  border: 2px solid #f5f5f5;
}
.chat--message--item--text img {
	height: 100%;
	min-width: 180px;
  min-height: 180px;
	cursor: pointer;
	object-fit: cover;
	border-radius: 8px;
  background-color: #f0f0f0;
}
.chat--messages--send {
	margin-left: auto;
	justify-content: flex-end;
  display: flex;
  margin-bottom: 4px;
}
.chat--messages--receive {
  display: flex;
  margin-bottom: 4px;
}
.chat--messages--send .chat--message--item--date {
	justify-content: flex-end;
}
.chat--messages--send .chat--message--item--text {
	background-color: #f6f5f7;
  color: #272c30;
}

.chat--messages::-webkit-scrollbar {
  display: none;
}

.chat--messages {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.chat--messages::-webkit-scrollbar-thumb {
	border-radius: 5px;
	margin-right: 5px;
	background: #B4BCC3;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.chat--foot {
	min-height: 56px;
	display: flex;
	justify-content: stretch;
	position: relative;
	align-items: center;
  background: #fff; 
  position: fixed;
  bottom: calc(env(safe-area-inset-bottom) + 0px);
  z-index: 1000000;
  width: 100%; 
  padding-top: 10px;
  padding-bottom: 5px;

}
.chat--foot > div {
	line-height: 1.4375em;
	font-size: 1rem;
	color: rgb(33, 43, 54);
	box-sizing: border-box;
	cursor: text;
	display: inline-flex;
	align-items: center;
	position: relative;
	width: 100%;
}
.detail--chat--right > span {
	display: none;
}
.chat--foot div input[type="text"] {
  letter-spacing: inherit;
  color: currentcolor;
  padding: 4px 0 5px;
  border: 0;
  box-sizing: content-box;
  height: 30px;
  margin: 0;
  display: block;
  min-width: 0;
  width: 100%;
  animation-name: mui-auto-fill-cancel;
  animation-duration: 10ms;
  outline: none;
  padding-left: 15px;
  padding-right: 10px;
  font-size: 14px;
  border-radius: 30px;
  border: 2px solid #ff2a80; 
  background: white;
}
.chat--foot--btn {
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	margin-right: 4px;
}
.chat--foot--btn > button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	box-sizing: border-box;
	background-color: transparent;
	outline: 0px;
	border: 0px;
	margin: 0px;
	cursor: pointer;
	user-select: none;
	vertical-align: middle;
	appearance: none;
	text-decoration: none;
	text-align: center;
	flex: 0 0 auto;
	border-radius: 50%;
	overflow: visible;
	color: #525c66;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	padding: 5px;
	font-size: 1.125rem;
	margin-right: 8px;
}
.chat--foot--btn > button:hover {
	background-color: rgba(99, 115, 129, 0.08);
}
.chat--foot--btn > button svg {
	width: 22px;
	height: 22px;
}
.chat--foot > button {
	background-color: transparent;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	background-color: transparent;
	outline: 0px;
	border: 0px;
	margin: 0px 8px;
	cursor: pointer;
	user-select: none;
	vertical-align: middle;
	appearance: none;
	text-decoration: none;
	text-align: center;
	flex: 0 0 auto;
	font-size: 1.5rem;
	padding: 8px;
	border-radius: 50%;
	overflow: visible;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	color: #3982f6;
}
.btn--inactive {
	color: rgba(145, 158, 171, 0.8) !important;
	cursor: default !important;

}
.chat--foot hr {
	margin: 0px;
	flex-shrink: 0;
	border-width: 0px thin 0px 0px;
	border-style: solid;
	border-color: rgba(145, 158, 171, 0.24);
	height: auto;
	align-self: stretch;
}


.chat--left {
	flex: 0 0 auto !important;
	width: 100%;
	transition: width 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	position: static;
	top: 0px;
	outline: 0px;
	left: 0px;
	border-right: 1px solid rgba(145, 158, 171, 0.24);
	box-shadow: none;
	background-image: none;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	height: 100%;
	flex: 1 0 auto;
	background-color: rgb(255, 255, 255);
	z-index: 1200;
}

.chat--left--head {
	padding: 16px 24px;
}
.chat--left--head > div:first-of-type {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	position: relative;
}
.chat--left--head > div:first-of-type > div:first-of-type {
	position: relative;

}
.chat--left--head--profil {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	font-size: 1.25rem;
	line-height: 1;
	border-radius: 50%;
	user-select: none;
	cursor: pointer;
	width: 48px;
	height: 48px;
}
.chat--left--head--profil img {
	width: 100%;
	height: 100%;
	text-align: center;
	object-fit: cover;
	color: transparent;
	border-radius: 50%;
}
.online {
	width: 10px;
	height: 10px;
	display: flex;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	background-color: #66c959;
	position: absolute;
	bottom: 2px;
	left: 36px;
}
.chat--left--head--btn button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	background-color: transparent;
	outline: 0px;
	border: 0px;
	margin: 0px;
	cursor: pointer;
	user-select: none;
	vertical-align: middle;
	appearance: none;
	text-decoration: none;
	text-align: center;
	flex: 0 0 auto;
	font-size: 1.5rem;
	padding: 8px;
	border-radius: 50%;
	overflow: visible;
	color: #525c66;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.chat--left--head--btn button:hover {
	background-color: rgba(99, 115, 129, 0.08);
}
.chat--left--head--btn button svg {
	width: 20px;
	height: 20px;
}
.btn--right {
	display: none;
}
.chat--left--messages {
	list-style: none;
	margin: 0px;
	padding: 0px;
	position: relative;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.chat--left--messages::-webkit-scrollbar {
	display: none;
}

.chat--left--message {
	-webkit-tap-highlight-color: transparent;
	outline: 0px;
	border: 0px;
	margin: 0px;
	border-radius: 0px;
	cursor: pointer;
	user-select: none;
	vertical-align: middle;
	appearance: none;
	color: inherit;
	display: flex;
	flex-grow: 1;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	text-decoration: none;
	box-sizing: border-box;
	text-align: left;
	padding: 12px 24px;
	transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.message--open{
	background-color: rgba(145, 158, 171, 0.16)
}
.chat--left--message .chat--left--head--profil {
	margin-right: 16px;
}
.chat--left--message--detail {
	width: 100%;
}
.chat--left--message--top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.chat--left--message--top h6 {
	margin: 0px;
	font-weight: 600;
	line-height: 1.57143;
	font-size: 0.875rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
}
.chat--left--message--top span {
	font-size: 12px;
	line-height: 22px;
	white-space: nowrap;
	color: rgb(145, 158, 171);
}
.chat--left--message--detail p {
	margin: 0px;
	line-height: 1.57143;
	font-size: 0.875rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #525c66;
	display: block;
}

.not--disturb {
	width: 10px;
	height: 10px;
	display: flex;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	background-color: rgb(255, 72, 66);
	left: 36px;
	bottom: 2px;
	position: absolute;
}
.not--disturb:before {
	width: 6px;
	height: 2px;
	content: "";
	border-radius: 1px;
	background-color: rgb(255, 255, 255);
}
.not--disturb:after {
	content: "";
	border-radius: 1px;
	background-color: rgb(255, 255, 255);
}
.chat--left--head--profil div {
	position: relative;
	width: 48px;
	height: 48px;
}
.chat--left--head--profil div img:first-of-type {
	position: absolute;
	width: 32px;
	height: 32px;
	left: 0px;
	z-index: 9;
	bottom: 2px;
	border: 2px solid rgb(255, 255, 255);

}
.chat--left--message:hover{
	background-color: rgba(145, 158, 171, 0.08);
}
.chat--left--head--profil div img:last-of-type {
	top: 2px;
	right: 0px;
	position: absolute;
	width: 32px;
	height: 32px;
	border: 2px solid rgb(255, 255, 255);
}
.not--read {
	width: 8px;
	height: 8px;
	display: flex;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	background-color: rgb(24, 144, 255);
	position: absolute;
	right: 24px;
	bottom: 20px;
}
.chat--reduced .chat--left--head > div{
	display: none;
}
.chat--reduced .chat--left--head > div:last-of-type {
	display: flex;
}
.chat--reduced .chat--left--head > div:last-of-type button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	background-color: transparent;
	outline: 0px;
	border: 0px;
	margin: 0px;
	cursor: pointer;
	user-select: none;
	vertical-align: middle;
	appearance: none;
	text-decoration: none;
	text-align: center;
	flex: 0 0 auto;
	font-size: 1.5rem;
	padding: 8px;
	border-radius: 50%;
	overflow: visible;
	position: relative;
	right: -5px;
	color: #525c66;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
.chat--reduced .chat--left--head > div:last-of-type button svg {
	width: 20px;
	height: 20px;
}
.chat--reduced {
	width: 95px;
	margin-right: 0px;
}
.chat--reduced .chat--left--head > div:last-of-type button:hover {
	background-color: rgba(99, 115, 129, 0.08);
}
.chat--reduced .chat--left--message--detail {
	display: none;
}
.chat--reduced .chat--left--message {
	position: relative;
	left: 0px;
	z-index: 20;
	width: 94px;
	margin-right: -5px;
}
.container--chat--all {
	flex-grow: 1;
}
.chat--right {
	display: flex;
	flex-direction: row;
}
.chat--right > div:first-of-type {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
}
.detail--chat--right > div {
	width: 240px;
	background-color: rgb(255, 255, 255);
	color: rgb(33, 43, 54);
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	z-index: 1200;
	height: 390px;
	border-left: 1px solid rgba(145, 158, 171, 0.24);
	border-top: 1px solid rgba(145, 158, 171, 0.24);
}
.detail--chat--right--head {
	padding-top: 32px;
	padding-bottom: 24px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.detail--chat--right--head--avatar {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-shrink: 0;
	font-size: 1.25rem;
	line-height: 1;
	border-radius: 50%;
	overflow: hidden;
	user-select: none;
	width: 96px;
	height: 96px;
}
.detail--chat--right--head--avatar img {
	width: 100%;
	height: 100%;
	text-align: center;
	object-fit: cover;
	color: transparent;
	text-indent: 10000px;
}
.detail--chat--right--head h6 {
	font-weight: 600;
	line-height: 1.5;
	font-size: 1rem;
	margin-top: 16px;
	text-align: center;
}
.detail--chat--right--head p {
	line-height: 1.57143;
	font-size: 0.875rem;
	color: #525c66;
}
.detail--chat--right--btn {
	display: inline-flex;
	align-items: center;
	position: relative;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	background-color: transparent;
	outline: 0px;
	border: 0px currentcolor;
	margin: 0px;
	cursor: pointer;
	user-select: none;
	vertical-align: middle;
	appearance: none;
	text-decoration: none;
	min-width: 64px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	width: 100%;
	font-weight: 700;
	line-height: 1.5;
	font-size: 0.75rem;
	text-transform: uppercase;
	height: 40px;
	border-radius: 0px;
	padding: 8px 16px;
	justify-content: space-between;
	color: rgb(145, 158, 171);
}
.detail--chat--right--btn:hover {
	background-color: rgba(145, 158, 171, 0.08);
}
.detail--chat--right--btn--closed svg {
	transform: rotate(-90deg);
}
.detail--chat--right--subbtn {
	padding: 0px 20px;
	padding-bottom: 8px;
}
.detail--chat--right--subbtn--hidden {
	display: none !important;
}
.detail--chat--right--item {
	display: flex;
	margin: 12px 0px;
}
.detail--chat--right--item svg {
	width: 16px;
	height: 16px;
	margin-top: 4px;
	margin-right: 8px;
	color: #525c66;
}
.detail--chat--right--item p {
	flex-grow: 1;
	max-width: 160px;
	overflow-wrap: break-word;
	line-height: 1.57143;
	font-size: 0.875rem;
}
.detail--chat--right--attachment {
	display: flex;
	align-items: center;
	margin-top: 16px;
	padding: 0px 20px;
}
.detail--chat--right--attachment img {
	width: 40px;
	height: 40px;
	flex-shrink: 0;
	display: flex;
	overflow: hidden;
	align-items: center;
	justify-content: center;
	color: #525c66;
	border-radius: 8px;
	background-color: rgba(145, 158, 171, 0.16);
}
.detail--chat--right--attachment > div {
	margin-left: 12px;
	max-width: 150px;
}
.detail--chat--right--attachment > div div {
	margin: 0px;
	line-height: 1.57143;
	font-size: 0.875rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.detail--chat--right--attachment > div p {
	margin: 0px;
	line-height: 1.5;
	font-size: 0.75rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #525c66;
	display: block;
}
.detail--chat--right {
	position: relative;
}
.close--user--detail {
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
	user-select: none;
	vertical-align: middle;
	appearance: none;
	text-decoration: none;
	text-align: center;
	flex: 0 0 auto;
	font-size: 1.5rem;
	padding: 8px;
	color: #525c66;
	z-index: 150;
	width: 32px;
	height: 32px;
	position: absolute;
	top: 8px;
	box-shadow: rgb(145 158 171 / 16%) 0px 8px 16px 0px;
	background-color: rgb(255, 255, 255);
	border-width: 1px 0px 1px 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: rgba(145, 158, 171, 0.24);
	border-bottom-color: rgba(145, 158, 171, 0.24);
	border-left-color: rgba(145, 158, 171, 0.24);
	border-radius: 12px 0px 0px 12px;
	transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	right: 240px;

}

.close--user--detail svg {
	width: 16px;
	height: 16px;
	display: flex;
}
.detail--chat--right--open {
	position: fixed;
	display: block !important;
	top: 0px;
	right: 0px;
	width: 240px;
	height: 100vh;
	z-index: 1300;
	background-color: white;
}
.detail--chat--right--open > div:first-of-type {
	display: block !important;
	height: 100vh;
}
.detail--chat--right--open > button {
	display: none;
}
.detail--chat--right--open .detail--chat--right--open--bg {
	position: absolute;
	display: block !important;
	right: 100%;
	width: 100vw;
	top: 0px;
	bottom: 0px;
	background: linear-gradient(75deg, rgba(22, 28, 36, 0.48) 0%, rgb(22, 28, 36) 100%);
}

._4b0g {
  align-items: center;
  display: flex;
  height: 17px;
}

._5pd7:nth-child(1) {
  animation-delay: 200ms;
}
._5pd7:nth-child(2) {
  animation-delay: 300ms;
}

._4b0g ._5pd7 {
  background-color: #9c9da3;
}
._4b0g ._5pd7 {
  animation-name: messengerTypingAnimation;
  background-color: rgba(0, 0, 0, .60);
  border-radius: 50%;
  height: 6px;
  margin-right: 4px;
  vertical-align: middle;
  width: 6px;
}
._5pd7 {
  animation: mercuryTypingAnimation 1.5s infinite ease-in-out;
  border-radius: 2px;
  display: inline-block;
  height: 4px;
  margin-right: 2px;
  width: 4px;
}


@keyframes messengerTypingAnimation{
    0%{transform:translateY(0px)}
    28%{transform:translateY(-6px)}
    44%{transform:translateY(0px)}
}


@media all and (max-width: 1200px) {
	.detail--chat--right > div:first-of-type {
		display: none;
	}
	.detail--chat--right > button {
		right: 0px;
	}
	
	.detail--chat--right > div {
		height: 100vh;
	}
}
.chat--left--bg {display: none !important;}

@media all and (max-width: 900px) {
	.chat--right, .chat--right div {
		max-width: 100%;
	}
	.container--chat--all {
		max-width: 100%;
	}
	.chat--messages--receive {
		overflow: hidden;
	}
}