
.products {
	height: 100vh;
	width: 100%;
}

.products header {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	height: 6vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	padding: 0 5vw;
}

.products header .h-left .h-title {
	font-size: 0.9em;
	padding-left: 4vw;
	text-transform: uppercase;
	margin-bottom: 0;
}

.products header img {
	width: 20px;
}

.products header .h-right img {
	margin-left: 3vw;
}

.products .list_options {
	padding: 2vh 5vw;
	background-color: #f9fbfe;
}

.products .list_options ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.products .list_options ul li .dropdown .btn {
	font-size: 0.9em;
	background-color: #fff !important;
	color: #222;
	border: none;
	-webkit-box-shadow: 0px 0px 8px 5px #eee;
	box-shadow: 0px 0px 8px 5px #eee;
	text-transform: uppercase;
	padding-left: 5vw;
	padding-right: 5vw;
	margin-right: 2vw;
}

.products .list_options ul li .dropdown-menu {
	margin-top: 2vh;
	margin-left: -25%;
	padding: 1vh 2vw;
	-webkit-box-shadow: 0px 0px 4px 4px #eee;
	box-shadow: 0px 0px 4px 4px #eee;
	position: relative;
	width: 70vw;
}

.products .list_options ul li .dropdown-menu ul {
	display: block;
}

.products .list_options ul li .dropdown-menu li:not(:last-child) {
	border-bottom: 1px solid #eee;
}

.products .list_options ul li .dropdown-menu .checked .option {
	color: #222;
}

.products .list_options ul li .dropdown-menu li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	padding: 1vh 0;
}

.products .list_options ul li .dropdown-menu li .option {
	font-size: 0.8em;
	margin-bottom: 0;
	color: #555;
}

.products .list_options ul li .dropdown-menu.first:before {
	left: 15%;
}

.products .list_options ul li .dropdown-menu.second:before {
	left: 42%;
}

.products .list_options ul li .dropdown-menu.last:before {
	right: 25%;
}

.products .list_options ul li .dropdown-menu:before {
	content: "";
	position: absolute;
	top: -5px;
	width: 14px;
	height: 14px;
	border: 6px solid;
	border-color: #fff #fff transparent transparent;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.products .list_options ul li .my_form_check {
	display: inline-block;
}

.products .list_options ul li .styled-checkbox {
	position: absolute;
	opacity: 0;
}

.products .list_options ul li .styled-checkbox + label {
	position: relative;
	cursor: pointer;
	padding: 0;
}

.products .list_options ul li .styled-checkbox + label:before {
	content: "";
	margin-right: 4vw;
	display: inline-block;
	vertical-align: text-top;
	width: 16px;
	height: 16px;
	background: #fff;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 1px 1px #ccc;
	box-shadow: 0 0 1px 1px #ccc;
}

.products .list_options ul li .styled-checkbox:hover + label:before {
	background: #dadada;
}

.products .list_options ul li .styled-checkbox:focus + label:before {
	-webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
	box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.products .list_options ul li .styled-checkbox:checked + label:before {
	background: #3b3b4d;
}

.products .list_options ul li .styled-checkbox:disabled + label {
	color: #b8b8b8;
	cursor: auto;
}

.products .list_options ul li .styled-checkbox:checked + label:after {
	content: "";
	position: absolute;
	left: 4px;
	top: 9px;
	background: white;
	width: 1.8px;
	height: 1.8px;
	-webkit-box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white,
	4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
	box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white,
	4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}

.products .list_options ul .sliders {
	position: relative;
}

.products .list_options ul .sliders img {
	width: 18px;
}

.products .list_options ul .sliders .number {
	position: absolute;
	color: #fff;
	top: -1vh;
	right: -4px;
	padding: 1px 3px;
	border-radius: 3px;
	background-color: #5882f2;
	font-size: 0.6em;
}

.products .one_item .title {
	font-size: 0.9em;
	font-weight: 500;
	margin-bottom: 6px;
}

.products .one_item .desc {
	font-size: 0.85em;
	color: #6c7b8a;
	margin-bottom: 0px;
}

.products .one_item .price {
	margin-right: 5vw;
	color: #5882f2;
	position: relative;
	top: 1px;
}

.products .my_navbar {
	overflow: hidden;
	height: 6vh;
	width: 100vw;
}

.products .my_navbar .nav_content {
	position: fixed;
	bottom: 0vh;
	left: 0;
	width: 100%;
	height: 6vh;
	overflow: hidden;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 0 5vw;
}

.products .my_navbar .nav_content .icon_nav {
	text-align: center;
}

.products .my_navbar .nav_content .icon_nav img {
	width: 70%;
}

.products .my_navbar .nav_content .shopping {
	position: relative;
}

.products .my_navbar .nav_content .shopping .number {
	position: absolute;
	right: 0px;
	top: 0;
	background-color: #5882f2;
	color: #fff;
	padding: 1px 5px;
	border-radius: 4px;
	font-size: 0.6em;
}

img {
	width:100%
}

.img_item img {
	width: 52px;
}

.icon, .icon svg {
	vertical-align: top;
}

.icon svg {
	height: 100%;
	width: 1.5em;
}
svg {
	overflow: hidden;
	vertical-align: middle;
}

.box {
	margin-bottom: 10px;
	border-radius: 5px;
	background-color: #FFFFFF;
	padding: 15px;
	box-shadow: 0px 2px 5px #dededf;

}

.box .head {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-content: space-between;    

}
.box .head div:first-child {
	display: inline;
	vertical-align: middle;
}
.box .completed, .box .closed, .box .progress {
	font-size: 12px;
	color: #FFFFFF;
	font-weight: 600;
	padding: 4px 10px;
	border-radius: 4px;
} 

.box .completed {
	background-color: #6B999F;
}
.box .closed {
	background-color: #CBBDBD;
}
.box .progress {
	background-color: #4C5FEF;
}

.box .body {
	margin-top: 4px;
}
.box .body .title {
	margin-top: 10px;
	font-size: 12.5px;
	font-weight: 500;
	line-height: 15px;
	color: #140F26;
}
.box .body p {
	font-size: 10px;
	font-weight: 400;
	color: #6C7B8A;
	line-height: 14px;
	margin-bottom: 0px;
}
.checkout__body {
	padding-top: 10px;
}

.shop_icon img {
	width: 10px;
	float: right;
}

.box .head .img {
	justify-self: end;
	font-size: 11Px;
	font-style: italic;
	margin-top: 3px;
}

.address {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: #fff;
	top: 0;
	left: 0;
	overflow: auto
}

.address .text-input__input {
	margin-bottom: .7rem
}

.address__header {
	position: relative;
	padding: .9rem 0;
	border-bottom: 1px solid rgba(58, 58, 58, .2);
	margin-bottom: 1.2rem
}

.address__body {
	padding: 1rem
}

.address__close-btn {
	position: absolute;
	left: 0;
	top: 5px;
	padding: .5rem
}

.address__title {
	text-align: center;
	font-size: 1.1rem;
	font-weight: 700
}

.address__price-body {
	margin-top: 1rem
}

.address__submit-btn {
	margin-top: 2rem;
	width: 100%
}

.address__popup {
	position: absolute;
	width: 94%;
	height: 39%;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	z-index: 5
}

.address__popup-header {
	text-align: right
}

.address__popup-body {
	padding: 0 1rem 1rem;
	box-shadow: 0 0 8px 0 rgba(58, 58, 58, .2);
	border-radius: .25rem;
	background-color: #fff;
	border: 1px solid rgba(58, 58, 58, .2)
}

.address__popup-row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px
}

.address__popup-item {
	cursor: pointer;
	text-align: center;
	padding: 0 15px;
	margin-bottom: 15px;
	flex: 0 0 auto;
	width: auto;
	max-width: none;
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%
}

.address__popup-item-inner {
	background-color: #ffac00;
	color: #fff;
	padding: .3rem .6em;
	border-radius: 10rem
}

.address__error {
	font-size: .9em;
	color: #ea573c;
	margin-top: .5rem
}

.address__state-item {
	list-style: none;
	padding: .5rem
}

.address__state-item:hover {
	background-color: rgba(58, 58, 58, .2)
}

.address__state-list-container {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 70%;
	margin: auto;
	z-index: 6;
	overflow: hidden;
	height: 70%;
	background-color: #fff;
	border-radius: .65rem;
	border: 2px solid rgba(58, 58, 58, .2)
}

.address__state-list-container ul {
	padding-left: 0;
	margin: 0;
	overflow-x: auto;
	height: calc(100% - 50px)
}

.address__overlay {
	position: absolute;
	background-color: rgba(38, 38, 38, .5);
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 4
}

.address__state-field {
	position: relative
}

.address__state-field .address__state-overlay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1
}

.address__header-title {
	padding-top: .8rem;
	margin-bottom: 1.1rem;
	text-align: center;
	font-weight: 700
}

.address__state-list-search-field .text-input__input {
	border: none;
	border-bottom: 1px solid rgba(38, 38, 38, .2);
	border-radius: 0
}

.promo-code {
	position: absolute;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: #fff;
	top: 0;
	left: 0
}

.promo-code__header {
	position: relative;
	padding: .9rem 0;
	border-bottom: 1px solid rgba(58, 58, 58, .2);
	margin-bottom: 1.2rem
}

.promo-code__body {
	padding: 1rem
}

.promo-code__close-btn {
	position: absolute;
	left: 0;
	top: 5px;
	padding: .5rem
}

.promo-code__title {
	text-align: center;
	font-size: 1.1rem;
	font-weight: 700
}

.promo-code__submit-btn {
	width: 100%;
	margin-top: 2rem
}

.checkout__btn-row>* {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px
}

.checkout {
	z-index: 6;
	background-color: #fff
}

.checkout__overlay .default-spinner {
	width: 5rem
}

.checkout__plus-minus {
	text-align: center
}

.checkout__quantity {
	margin: .6rem 0;
	font-size: .9rem;
	font-weight: 700
}

.checkout__plus-minus-btn {
	padding: 0;
	color: #262626;
	font-size: 1.4rem;
	font-weight: 700;
	width: 25px;
	height: 25px;
	line-height: 12px
}

.checkout__plus-minus-btn .default-button__text {
	margin-bottom: 5px
}

.checkout__gray-text,
.checkout__vendor {
	margin-bottom: 0;
	margin-top: 0;
	color: rgba(38, 38, 38, .5);
	font-size: .9rem;
	font-weight: 700
}

.checkout__name {
	margin-top: 0;
	font-size: 15px;
	margin-right: 10px;
}

.checkout__attr {
	font-size: 13px;
	margin-top: 0px;
	font-weight: 500;
}

.checkout__total-text {
	margin-bottom: 0;
	margin-top: 0;
	color: #262626;
	font-size: 1.2rem;
	font-weight: 600;
}

.checkout__row {
	display: flex;
	padding: .2rem 0;
}

.checkout__link {
	padding: 0;
	width: 100%
}

.checkout__link .default-button__text {
	display: flex;
	justify-content: space-between
}

.checkout__link .checkout__link-text {
	color: #525c66;
	font-size: .9rem;
	font-weight: 500;
}

.checkout__link .checkout__link-text span {
	line-height: normal;
	font-size: 1.5rem
}

.checkout__link .icon--back {
	transform: rotate(180deg)
}

.checkout__price-row {
	padding: .5rem 0;
	display: flex;
	justify-content: space-between
}

.checkout__product-info-row.checkout__row {
	border-bottom: 0
}

.checkout__product-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 1rem
}

.checkout__product-info .checkout__image {
	width: 64px;
	height: 64px;
	margin-right: 1.2rem;
}

.checkout__product-info .checkout__image2 {
	width: 48px;
	height: 48px;
	margin-right: 0.8rem;
}

.checkout__price-body {
	margin-top: 1rem
}

.checkout__link-text-active {
	display: flex;
	align-items: center
}

.checkout__link-text-active-btn {
	width: 100%;
	display: flex;
	justify-content: space-between;
	padding: .65rem 1.25rem;
}

.checkout__link-text-active-btn .icon--back {
	transform: rotate(180deg)
}

.checkout__link-text-item {
	padding: 0 .5rem;
	color: rgba(58, 58, 58, .5)
}

.checkout__link-text-item:first-child {
	font-weight: 700;
	min-width: 100px
}

.checkout__link-text-item-red {
	color: #ea573c
}

.checkout__link-text-item-blue {
	color: #46b1cd
}

.checkout__error {
	margin-bottom: 1rem;
	font-size: .9em;
	color: #ea573c
}

.checkout__btn {
	margin-top: 1rem;
	width: 100%
}

.checkout__btn-apple {
	background-color: #272c30;
	-webkit-appearance: -apple-pay-button;
	-apple-pay-button-type: buy;
	background-image: -webkit-named-image(apple-pay-logo-white);
	background-size: 100% 100%;
	background-origin: content-box;
	background-repeat: no-repeat;
	width: 100%;
	height: 50px;
	padding: 10px .6em;
	border-radius: 10rem
}

.checkout__btn-apple:disabled {
	background-color: #939393
}

.checkout__btn-row {
	margin-top: 1rem;
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px
}

.checkout__btn-row>* {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%
}

.checkout__btn-google {
	display: none;
	margin-top: 1rem
}
.icon svg {
	height: 100%;
	width: 1.5em;
}

.icon, .icon svg {
	vertical-align: top;
}
.checkout__btn-google .gpay-card-info-animation-container {
	left: 0;
	padding-right: .6em;
	padding-left: .6em;
	border-radius: 10rem
}

.checkout__btn-google .gpay-button.buy,
.checkout__btn-google .gpay-card-info-container.buy {
	width: 100%;
	max-width: none;
	height: 50px;
	padding-right: .6em;
	padding-left: .6em;
	border-radius: 10rem
}

.checkout__btn-google.checkout__btn-google__active {
	display: block
}

.checkout__btn-google.checkout__btn-google__disabled {
	pointer-events: none
}

.checkout__btn-google.checkout__btn-google__disabled .gpay-button.buy {
	background-color: #939393
}

.checkout__btn-apple-holder {
	display: none;
	margin-top: 1rem
}

.checkout__btn-apple-holder.checkout__btn-apple-holder__active {
	display: block
}

.checkout__payment-tabs-holder {
	display: flex;
	flex-wrap: wrap;
	margin-right: -3px;
	margin-left: -3px;
	border-bottom: 1px solid #d7d7d7
}

.checkout__payment-tab {
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
	margin-top: 1rem;
	text-align: center;
	padding-right: 3px;
	padding-left: 3px
}

.checkout__payment-tab .icon {
	font-size: 3rem
}

.checkout__payment-tab .checkout__payment-tab-inner {
	background-color: #f2f2f2;
	border: 1px solid #d7d7d7;
	border-bottom: 0;
	display: flex;
	width: 100%;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
	border-radius: 1rem 1rem 0 0;
	padding: .7rem .3rem;
	height: 100%
}

.checkout__payment-tab .checkout__payment-tab-inner.checkout__payment-tab-inner--active {
	background-color: #fff;
	border-bottom: 0;
	position: relative;
	top: 1px
}

.checkout__payment-tab .checkout__payment-tab-inner:not(.checkout__payment-tab-inner--cc) .icon {
	font-size: 3rem;
	height: 80%
}

.checkout__payment-tab .checkout__payment-tab-inner.checkout__payment-tab-inner--cc {
	font-weight: 700
}

.checkout__payment-tab .checkout__payment-tab-inner.checkout__payment-tab-inner--cc .icon {
	display: block;
	margin-bottom: .4rem;
	font-size: 1rem;
	width: 100%
}

.login-contents__header {
	position: relative
}

.login-contents__back {
	display: flex;
	align-items: center;
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer
}

@media (max-width:991.98px) {
	.login-contents__back {
		position: fixed;
		top: 25px;
		left: 10px;
		transform: none;
		z-index: 5
	}
	.login__content-enter-active .login-contents__back,
	.login__content-leave-active .login-contents__back {
		display: none
	}
}

.login-contents__headline {
	font-weight: 600;
	margin-bottom: 1em;
	line-height: 1.7
}

.create-screen-name__line {
	display: flex;
	margin-bottom: 1.25em
}

.create-screen-name__input {
	flex: 1
}

.create-screen-name__agree {
	display: flex;
	align-items: center;
	margin: 2em 1.5em;
	text-align: left
}

.create-screen-name__agree input {
	margin-right: 1em
}

.create-screen-name__agree a {
	color: #46b1cd;
	text-decoration: none
}

.create-screen-name__agree a:hover {
	text-decoration: underline
}

.create-screen-name__button-holder {
	display: flex;
	justify-content: space-between
}

.create-screen-name__button-holder .default-button {
	width: 50%
}

.create-screen-name__button-holder .default-button.create-screen-name__button {
	width: 49%
}

.default-button {
	display: inline-block;
	background: none;
	font-weight: 600;
	border: 1px solid transparent;
	color: inherit;
	transition-timing-function: ease-out;
	transition-property: background-color;
	transition-duration: .15s;
	position: relative;
	padding: 0 1.5em;
	height: 40px;
	line-height: 40px;
	border-radius: 20px;
	font-size: .93em;
}

.default-button--outline {
	background-color: #fff;
	color: #262626;
	border: 1px solid rgba(38,38,38,.2);
	font-weight: 500;
}

.checkout__plus-minus-btn {
	padding: 0;
	color: #262626;
	font-size: 1.4rem;
	font-weight: 700;
	width: 25px;
	height: 25px;
	line-height: 12px;
}

.store-products-item__login-popup.store-products-item__login-popup--active {
	bottom: 0;
}

.store-products-item__login-popup {
	position: fixed;
	width: 100%;
	bottom: -80%;
	background-color: #fff;
	animation-duration: 400ms !important;
	animation-iteration-count: 1 !important;
	animation-fill-mode: both !important;
	animation-name: keyframe_d37zz3 !important;
	z-index: 1000000000;
}

.product--quantity--detail {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.product--quantity--detail > span {
	margin: 8px 0px 0px;
	line-height: 1.5;
	font-size: 0.75rem;
	font-weight: 500;
	color: #525c66;
}
.product--quantity--input {
	padding: 4px 6px;
	border: 1px solid rgba(145, 158, 171, 0.32);
	line-height: 0;
	border-radius: 8px;
	display: flex;
	align-items: center;
}
.product--quantity--input > button {
	background-color: transparent;
	color: rgba(145, 158, 171, 0.8);
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	outline: 0px;
	border: 0px;
	margin: 0px;
	cursor: pointer;
	user-select: none;
	vertical-align: middle;
	appearance: none;
	text-decoration: none;
	text-align: center;
	flex: 0 0 auto;
	border-radius: 50%;
	overflow: visible;
	transition: background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	padding: 5px;
	font-size: 1.125rem;
}
.product--quantity--input > button > svg {
	width: 14px;
	height: 14px;
}
.product--quantity--input > span {
	margin: 0px;
	line-height: 1.57143;
	font-size: 15px;
	font-weight: 500;
	width: 40px;
	text-align: center;
}

.css-13dslnb {
	background-color: rgb(255, 255, 255);
	transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	background-image: none;
	overflow: hidden;
	position: relative;
	z-index: 0;
}


.css-11qjisw {
	flex: 1 1 auto;
}

.css-jef1j {
	margin: 0;
	font-weight: 700;
	line-height: 1.55556;
	font-size: 16px;
}

.css-18mhetb {
	padding: 5px;
}

.css-ikzlcq {
	display: flex;
	flex-direction: column;
}

.css-9jay18 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.css-11r9ii4 {
	margin: 0px;
	line-height: 1.57143;
	font-size: 14px;
	font-weight: 500;
	color: #525c66;
}

.css-yemnbq {
	margin: 0px;
	font-weight: 500;
	line-height: 1.57143;
	font-size: 14px;
}

.css-ss6lby {
	margin: 0px;
	flex-shrink: 0;
	border-width: 0px 0px thin;
	border-style: solid;
	border-color: rgba(145, 158, 171, 0.24);
}
.css-feqhe6 {
	display: inline-flex;
	flex-direction: column;
	position: relative;
	min-width: 0px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	vertical-align: top;
	width: 100%;
}

.css-1t2syce {
	line-height: 1.4375em;
	font-size: 1rem;
	font-weight: 500;
	color: rgb(33, 43, 54);
	box-sizing: border-box;
	cursor: text;
	display: inline-flex;
	align-items: center;
	width: 100%;
	position: relative;
	border-radius: 8px;
	padding-right: 14px;
}

.css-1nuss9t {
	font: inherit;
	letter-spacing: inherit;
	color: currentcolor;
	border: 0px;
	box-sizing: content-box;
	background: none;
	height: 1.4375em;
	margin: 0px;
	-webkit-tap-highlight-color: transparent;
	display: block;
	min-width: 0px;
	width: 100%;
	animation-name: mui-auto-fill-cancel;
	animation-duration: 10ms;
	padding: 16.5px 0px 16.5px 14px;
}
.css-5zxort {
	display: flex;
	height: 0.01em;
	max-height: 2em;
	align-items: center;
	white-space: nowrap;
	color: #525c66;
	margin-left: 8px;
}
.css-nw750j {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	background-color: transparent;
	outline: 0px;
	border: 0px;
	margin: 0px -4px 0px 0px;
	cursor: pointer;
	user-select: none;
	vertical-align: middle;
	appearance: none;
	text-decoration: none;
	font-weight: 700;
	line-height: 1.71429;
	font-size: 15px;
	text-transform: capitalize;
	min-width: 64px;
	padding: 6px 8px;
	border-radius: 8px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
	color: #18cea0;
}

.css-w0pj6f {
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	z-index: 0;
	inset: 0px;
	border-radius: inherit;
}

.css-nw750j:hover {
	box-shadow: none;
}
.css-nw750j:hover {
	text-decoration: none;
	background-color: rgba(0, 171, 85, 0.08);
}

.css-1t2syce {
	border-color: rgba(145, 158, 171, 0.32);
}

.css-igs3ac {
	text-align: left;
	position: absolute;
	inset: 0px;
	margin: 0px;
	padding: 0px 8px;
	pointer-events: none;
	border-radius: inherit;
	border-style: solid;
	border-width: 1px;
	overflow: hidden;
	min-width: 0%;
	border-color: rgba(0, 0, 0, 0.23);
}

.css-hdw1oc {
	float: unset;
	overflow: hidden;
	padding: 0px;
	line-height: 11px;
	transition: width 150ms cubic-bezier(0, 0, 0.2, 1) 0ms;
}

.css-1stcxs5 {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	background-color: transparent;
	outline: 0px;
	border: 0px;
	margin: 0px;
	cursor: pointer;
	user-select: none;
	vertical-align: middle;
	appearance: none;
	text-decoration: none;
	border-radius: 50%;
	color: #525c66;
	padding: 8px;
}

.css-1stcxs5.Mui-checked {
	color: rgb(0, 171, 85);
}

.css-1m9pwf3 {
	cursor: inherit;
	position: absolute;
	opacity: 0;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	margin: 0px;
	padding: 0px;
	z-index: 1;
}

.css-1stcxs5 svg {
	font-size: 24px;
}

.css-w0pj6f {
	overflow: hidden;
	pointer-events: none;
	position: absolute;
	z-index: 0;
	inset: 0px;
	border-radius: inherit;
}

.top-author--container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  gap: 15px;
}
.top-author--item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px; 
  border-radius: 13px; 
  box-shadow: 0 0 5px rgb(0 0 0 / 20%);
}
.top-author--item > img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  line-height: 0;
  display: block;
  border-radius: 10px;
  width: 64px;
  height: 64px;
  font-size: 1.25rem;
  overflow: hidden;
  user-select: none;
  object-fit: cover;
}
.top-author--item > div:first-of-type {
  margin: 0px 0px 0px 12px;
  flex-grow: 1;
}
.top-author--item > div > span {
  font-weight: 500;
  line-height: 1.57143;
}

.top-author--item > div > div {
  line-height: 1.5;
  font-size: 0.75rem;
  font-weight: 400;
  color: #525c66;
  display: flex;
  align-items: center;
}
.top-author--item > div > div > svg {
  width: 16px;
  height: 16px;
  margin-right: 4px;
}

.css-15x3obx {
	display: flex;
	align-items: center;
	padding: 10px 5px 0;
}

.css-11qjisw {
	flex: 1 1 auto;
}

.css-1oa1nt {
	display: flex;
	flex-direction: column;
	padding: 6px 16px;
	flex-grow: 1;
}
.css-1rcbby2 {
	list-style: none;
	display: flex;
	position: relative;
	min-height: 70px;
}

.css-11tgw8h {
	display: flex;
	flex-direction: column;
	flex: 0 1 0%;
	align-items: center;
}
.css-hg5jyh {
	margin: 0px;
	line-height: 1.5;
	font-size: 1rem;
	font-weight: 400;
	flex: 1 1 0%;
	padding: 6px 16px;
	text-align: left;
}

.css-1f06y3u {
	display: flex;
	align-self: baseline;
	border-style: solid;
	border-width: 2px;
	padding: 4px;
	border-radius: 50%;
	margin: 11.5px 0;
	border-color: transparent;
	color: #fff;
	background-color: #18cea0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.css-1f06y3t {
	display: flex;
	align-self: baseline;
	border-style: solid;
	border-width: 2px;
	padding: 4px;
	border-radius: 50%;
	margin: 11.5px 0;
	border-color: transparent;
	color: #fff;
	background-color: #1111;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.css-fz3k0c {
	width: 2px;
	flex-grow: 1;
	background-color: rgba(145, 158, 171, 0.24);
}

.css-yemnbq {
	margin: 0px;
	font-weight: 600;
	line-height: 1.57143;
}

.css-6f545k {
  margin: 0;
  line-height: 1.5;
  font-size: .75rem;
  font-weight: 400;
  color: #525c66;
}
