
.products {
  height: 100vh;
  width: 100%;
}

img {
  width:100%
}
.rules p {
  font-size: 15px;
  font-weight: 400;
}
.rules span {
  line-height: 34px;
  font-size: 16px;
  font-weight: 600;
}

.my_form_check {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px; 
  color: #525c66; 
  font-weight: 500; 
  margin-right: 9px;
}

.lasted--product {
  display: flex;
  flex-direction: column;
  gap: 24px;
  overflow: hidden;
}
.product--item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.product--item > img {
  line-height: 0;
  display: block;
  overflow: hidden;
  flex-shrink: 0;
  border-radius: 10px;
  width: 64px;
  height: 64px;
}
.product--item > .details {
  margin-left: 16px;
  flex-grow: 1;
  min-width: 200px;
}
.product--item > .details > .title {
  text-decoration: none;
  color: #333;
  font-weight: 600;
  line-height: 1.57143;
  font-size: 15px;
}
.product--item > .details > .price {
  line-height: 1.57143;
  font-size: 13px;
  font-weight: 400;
  color: #333;
}

.profil--slide {
  display: inline-flex;
  height: 38px;
  padding: 12px;
  box-sizing: border-box;
  position: relative;
  flex-shrink: 0;
  z-index: 0;
  vertical-align: middle;

}
.profil--slide label:last-of-type {
  background-color: rgb(145, 158, 171);
  border-radius: 7px;
  display: block;
  width: 34px;
  height: 14px;
}

.profil--slide > label:first-of-type {
  background-color: rgba(99, 115, 129, 0.08);
  padding: 9px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  padding: 9px;
  border-radius: 50%;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  right: auto;
  box-shadow: rgb(145 158 171 / 16%) 0px 1px 2px 0px;
}

.profil--slide label:first-of-type span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: white;
}

.profil--slide input[type=checkbox] {
  visibility: hidden;

}
.profil--slide input[type=checkbox]:checked + label:first-of-type {
  left: 35px;
}  

.slider:checked + label:first-of-type span {
  background-color: rgb(0, 171, 85);
}

.slider:checked ~ label:last-of-type {
  background-color: rgb(0, 171, 85) !important;
  opacity: .5;
}


.css-g5gk3y {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  vertical-align: middle;
  justify-content: center;
  margin-bottom: 0px;
}

.css-1nvvhq {
  display: inline-flex;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  flex-shrink: 0;
  z-index: 0;
  vertical-align: middle;
  padding: 9px 13px 9px 12px;
  width: 58px;
  height: 38px;
}

.css-1hei3uy {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  padding: 9px;
  border-radius: 50%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
  color: rgb(255, 255, 255);
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.css-1nvvhq .MuiSwitch-switchBase.Mui-checked {
  transform: translateX(13px);
}
.css-1hei3uy.Mui-checked {
  color: rgb(0, 171, 85);
}
.css-1hei3uy.Mui-checked {
  transform: translateX(20px);
}
.css-1nvvhq .MuiSwitch-switchBase {
  left: 3px;
  padding: 12px;
}

.css-1hei3uy .MuiSwitch-input {
  left: 0%;
  width: 100%;
}
.css-1m9pwf3 {
  cursor: inherit;
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  z-index: 1;
}
.css-1nvvhq .MuiSwitch-thumb {
  width: 14px;
  height: 14px;
  box-shadow: none;
  color: rgb(255, 255, 255) !important;
}

.css-byglaq {
  box-shadow: rgb(145 158 171 / 20%) 0px 2px 1px -1px, rgb(145 158 171 / 14%) 0px 1px 1px 0px, rgb(145 158 171 / 12%) 0px 1px 3px 0px;
  background-color: currentcolor;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.css-w0pj6f {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  z-index: 0;
  inset: 0px;
  border-radius: inherit;
}

.css-1nvvhq .MuiSwitch-switchBase.Mui-checked + .MuiSwitch-track {
  opacity: 1;
}

.css-1hei3uy.Mui-checked + .MuiSwitch-track {
  background-color: rgb(0, 171, 85);
}
.css-1hei3uy.Mui-checked + .MuiSwitch-track {
  opacity: 0.5;
}
.css-1nvvhq .MuiSwitch-track {
  opacity: 1;
  border-radius: 14px;
  background-color: rgba(145, 158, 171, 0.48);
}
.css-1ju1kxc {
  height: 100%;
  width: 100%;
  border-radius: 7px;
  z-index: -1;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  background-color: #272c30;
  opacity: 0.38;
}
.css-g5gk3y .MuiFormControlLabel-label {
  line-height: 1.57143;
  font-size: 0.875rem;
  font-weight: 400;
}
.css-k36ljx {
  margin: 0px;
  line-height: 1.5;
  font-size: 1rem;
  font-weight: 400;
}

.lasted--product {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: hidden;
  padding: 3px;
}
.product--item {
  display: flex;
  flex-direction: row;
  padding: 7px;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 5px;
}
.product--item img {
  line-height: 0;
  display: block;
  border-radius: 12px;
  width: 64px;
  height: 64px;
  margin-right: 0px;
}
.product--item .details {
  flex-grow: 1;
}
.product--item .details .title {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  line-height: 1.57143;
  font-size: 15px;
}

.products .items .col-img {
  padding-right: 0;
}

.products .items .one_item {
  padding: 1vh 0;
}

.products .items .one_item .title {
  text-decoration: none; 
  color: rgb(33, 43, 54); 
  line-height: 1.57143; 
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 6px;
}


.products .items .one_item .img_item img {
  width: 52px; 
  height: 52px; 
  border-radius: 12px; 
  object-fit: cover;
}

.products .items .p_item {
  padding-top: 20px; 
  margin-bottom: 0px; 
  text-align: center; 
  font-weight: 400
}

.stock-available {
  margin: 0px;
  height: 22px;
  min-width: 22px;
  line-height: 0;
  border-radius: 6px;
  cursor: default;
  align-items: center;
  white-space: nowrap;
  display: inline-flex;
  justify-content: center;
  color: rgb(34, 154, 22);
  font-size: 0.75rem;
  background-color: rgba(84, 214, 44, 0.16);
  font-weight: 700;
  padding: 0 8px;
  margin-top: 3px;
}

.btn-prelive {
  color: white; 
  text-align: center; 
  position: absolute; 
  bottom: calc(env(safe-area-inset-bottom) + 25px); 
  width: calc(100vw - 40px);
}

.draggable-item {
  margin: 15px 5px; 
  box-shadow: 0 0 5px rgb(0 0 0 / 20%); 
  padding: 10px; 
  border-radius: 20px;
}