.my_profile1 .info_profile {
  text-align: center;
}

.my_profile1 .info_profile .btn-follow .btn {
  background: #ff2a80;
  box-shadow: rgb(0 0 0 / 20%) 0px 0px 5px;
  padding: 10px 42px;
  font-weight: bold;
  margin: 10px 0px;
  border-radius: 30px;
}

.images_filter ul {
  background-color: #eff1f6;
  border-radius: 11px;
  display: flex;
  justify-content: space-between;
}

.images_filter ul li {
  display: inline-block;
  text-align: center;
  width: 50%;
  margin: 2px;
  padding: 1vh 0;
  color: #6c7b8a;
  font-size: 16px;
}

.images_filter ul .active {
  background-color: #fff;
  color: #272c30;
  border-radius: 11px;
}

.my_profile1 .images_sec .images .row {
  margin: 0;
}

.col-img {
  padding: 5px;
}

.my_profile1 .images_sec .images .image img {
  border-radius: 5px;
}

.product-popup {
  overflow-y: scroll; 
  height: 100%; 
  padding-bottom: 120px;
  border-radius: 0px !important;
}

.product-popup-btn {
  background-color: white;
  bottom: 0px; 
  position: fixed; 
  z-index: 1000000001;
}

.product-popup-btn {
  background-color: white;
  bottom: 0px; 
  position: fixed; 
  z-index: 1000000001;
}

.product-popup-btn .groups {
  padding: 15px 20px 42px;
  background-color: white;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-popup-btn .btn-addtoCart {
  color: rgb(24, 206, 160);
  text-align: center;
  width: calc(50vw - 25px);
  background: white;
  padding: 13px 20px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 15px;
  margin: 0px 20px 0px 0px;
  height: 50px;
  border: 2px solid rgb(24, 206, 160);
}

.product-popup-btn .btn-checkout {
  text-align: center;
  width: calc(100vw - 25px);
  padding: 14px 20px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 15px;
  margin: 0px;
  background: rgb(24, 206, 160);
  color: rgb(255, 255, 255) !important;
  height: 50px;
}

.scroll-indicator {
  height: 5px;
  width: 60px;
  background: rgba(0,0,0,0.2);
  border-radius: 4.5px;
  margin: 15px auto;
}

.hide-svg {
  width: 30px; 
  height: 30px; 
  fill: rgb(153, 153, 153); 
  padding: 5px; 
  background: white; 
  border-radius: 30px; 
  opacity: 0.5; 
  position: absolute; 
  top: 15px; 
  left: 15px; 
  z-index: 100000000;
}

.heart-svg {
  width: 30px;
  height: 30px;
  fill: white;
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 100000000;
}